[2018-05-30 23:00] ColCarroll opened #2 "Supported Python versions?"
I will suggest developing on 3.6, but will add Python 3.5 to travis for now.  I would love to hear if there are good reasons to make sure to keep supporting 3.5, since 3.7 is coming out so soon.

[2018-05-31 02:38] leblancfg commented on #2
FWIW, Debian 9 (stable) uses Python 3.5, and has a projected end-of-life for August 2020.

[2018-05-31 11:20] ColCarroll commented on #2
Ah, thanks for that info!  f-strings and variable type annotations are probably [the features that we lose](https://docs.python.org/3/whatsnew/3.6.html) by supporting Python 3.5, but I don't think that's _so_ onerous.  I do love f-strings though...

[2018-05-31 12:32] junpenglao commented on #2
3.5 ignores the variable annotations right? so we can have them in the code anyway.

[2018-06-03 12:39] sharanry opened #4 "Port the usage of already impelemnted HMC sampling in tfp"
[Link](https://github.com/tensorflow/probability/blob/master/tensorflow_probability/python/mcmc/hmc.py) to implementation

[2018-06-03 12:40] sharanry opened #5 "Add arviz integration"
Add `traceplot()` and `plot_posterior()` functions.

[2018-06-03 12:42] sharanry opened #6 "Observed Random Variable Support"
Add observed RV support by exploring the use of  `values` attribute in `tensorflow.distributions`

[2018-06-03 12:43] junpenglao commented on #5
I dont think this is needed - we should use https://github.com/arviz-devs/arviz directly.

[2018-06-03 12:45] sharanry opened #7 "Access RVs as attributes of the model."
Currently pymc3 enables the user to access the RVs using `model.RVname` or `model['RVname']`.

Continuing this functionality.

[2018-06-03 12:46] sharanry commented on #5
@junpenglao I was unaware of this. So does arviz give direct support to ndarray and/or xarray?

[2018-06-03 13:16] junpenglao commented on #5
it would be xarray native - keep an eye on the purpose structure for storing the result

[2018-06-03 18:05] twiecki commented on #2
Agreed, 3.6 should be fine and we should make use of all new features we have.

[2018-06-03 22:05] ColCarroll commented on #5
Yes - over the next week or so I plan to work on adding preliminary support for xarray traces in arviz, using the current, super-preliminary structure.

[2018-06-03 22:13] ColCarroll commented on #2
Cool - I will update travis to start building on 3.6 and 3.7-dev!  Thanks for all the input!

[2018-06-03 22:13] #2 closed

[2018-06-04 09:07] twiecki commented on #5
pymc4 should also target an xarray backend that is natively compatible with arviz.

[2018-06-06 01:16] sharanry commented on #4
[Notebook](https://gist.github.com/sharanry/6b6439d81b4b0e18a46b52ed542a8387) demonstrating the use of HMC. PR will be made soon.

[2018-06-13 20:54] junpenglao commented on #4
Judging from the merge message, pretty sure they are deprecating the tf contrib distribution: https://github.com/tensorflow/probability/commit/0714da045f8bac5ecbcb7b84f20e743088c1c6a5

They probably already done so in the nightly release - we should pin the version up in the config in both branches.

[2018-06-27 01:24] sharanry opened #10 "Notebook demonstrating eight schools model"
[Notebook](https://gist.github.com/sharanry/f44e874074b6cc5edbd613762cfe1ea5) demonstrating eight schools model

@ColCarroll @ferrine @junpenglao

[2018-06-27 01:56] sharanry opened #11 "Linear increase in nodes with every f() execution problem demonstration"
[Notebook](https://gist.github.com/sharanry/6090eb466d03b1e8a5c02c1629d9341a) demonstrating the problem

[2018-06-27 01:56] sharanry commented on #11
@ColCarroll

[2018-06-29 13:11] fonnesbeck commented on #10
Is this an issue?

Really nice start. I can see the `cfg` business being a point of confusion. Can it be replaced by `model` attributes, perhaps?

[2018-07-04 01:05] sharanry commented on #10
@fonnesbeck The attributes defined while initializing the model are accessed using `cfg`.

[2018-07-04 01:07] sharanry commented on #10
@ColCarroll Here is the notebook trying to compare pymc3 implementation of centered eight schools with pymc4 results. I feel I am going wrong some where as I am getting totally different results.

[2018-07-05 07:22] sharanry commented on #10
Final [Notebook](https://gist.github.com/sharanry/193f06f139ccf1b90e176139238a4468) comparing the results.

[2018-07-07 18:43] sharanry opened #12 "Lack of Half-Cauchy distribution in tensorflow_probability distributions"

[2018-08-06 14:23] ColCarroll opened #21 "Update README with new install instructions"
We no longer need to point the README to the functional branch to install.

[2018-08-17 11:16] ColCarroll commented on #21
Closed by #22

[2018-08-17 11:16] #21 closed

[2018-09-26 19:27] JanFan opened #23 "Installation fails"
After running this, an error occurs.

`pip install --user git+https://github.com/pymc-devs/pymc4.git#egg=pymc4`

My Platform is OSX 10.13.6, using Python 3.6.5 :: Anaconda, Inc.

[2018-09-26 23:47] yukinagae commented on #23
I tried the same pip command and got the error below. Apparently `1.9.0.dev20180607` doesn't exist in the tf-nightly version listed here. It seems to be `requirements.txt` should have just `tf-nightly` or `tf-nightly==1.12.0.dev20180926`(latest).

[code]

If I take a look at a previous commit, https://github.com/pymc-devs/pymc4/pull/1/commits/ac77b27a0d9c4637970b3f9ff32f636b68ce0b85, something was

[2018-10-03 03:38] yukinagae commented on #23
@JanFan The PR https://github.com/pymc-devs/pymc4/pull/24 is merged, and the installation should be alright now :)

[2018-10-05 00:52] xiangze opened #26 "Using statistical functions in PyMC4"
pymc3.stats has functions to evaluate the models  such as Rhat, HPD, AIC,WAIC and LOO.
How about  implement these function in PyMC4?

[2018-10-05 03:36] ColCarroll commented on #26
Yes! once https://arviz-devs.github.io/arviz/ is a little more stable, the plan is to use `xarray` as the pymc4 data store, and arviz to do the plotting and diagnostics. All the calculations should already work, but there's quite a bit to be done to get xarray integrated more closely.

[2018-10-05 03:36] #26 closed

[2018-10-09 22:59] yukinagae commented on #12
According to https://github.com/pymc-devs/pymc4/pull/17, TFP has implemented Half-Cauchy distribution. It seems to be this issue can be closed, correct?

[2018-11-26 16:31] sadatnfs opened #27 "Simple OLS problem not working"
Hello:

I have mostly operated with TF and TFP in the past, and I thought it'd be a great time to give PyMC4 a try, given that all the HMC work will be easily implemented in the backend. However, it seems like I can't seem to make a simple OLS model run properly..

I have my model code here with all the outputs: https://gist.github.com/sadatnfs/d5004f488ba00371333770059ab99776
If you look at the t

[2018-11-27 23:07] yukinagae commented on #27
Try using smaller `step_size` parameter:

[code]

The current default setting of `step_size` is 0.4 which might be too big for your model.

[2018-11-27 23:17] sadatnfs commented on #27
you are absolutely correct! Thanks so much!

[2018-11-27 23:17] #27 closed

[2018-12-22 08:22] handgunsoldier opened #28 "How can I customize the chain and core number like pymc3?"
In pymc3, I can use `pm.sample(5000, cores=4, tune=500, chains=4)`  explicitly to run with 4 chains and 4 CPU cores. But I find there are no such parameters in pymc4, `sample(model, num_results=5000, num_burnin_steps=3000, step_size=.4, num_leapfrog_steps=3, numpy=True)`. How can I make it?

Besides, since pymc4 builds upon TensorFlow, can I switch to GPU version manually when sampling?

Thanks!

[2018-12-22 11:00] twiecki commented on #28
@handgunsoldier PyMC4 isn't really ready for users, just a prototype.

[2018-12-22 11:00] #28 closed

[2019-01-09 10:09] sharanry opened #32 "Need requirements.txt"
Would be helpful for people to contribute with the addition of `requirements.txt`.

[2019-01-10 08:54] eigenfoo commented on #32
Closed by #33

[2019-01-10 08:54] #32 closed

[2019-01-12 19:48] eigenfoo commented on #23
Per #40, we've moved to using the nightly builds of tf2 and tfp. I'm closing this issue now, but feel free to continue discussing!

[2019-01-12 19:48] #23 closed

[2019-01-12 20:18] eigenfoo opened #44 "Support more distributions as random variables"
Filing this as an issue so we don't forget: https://github.com/pymc-devs/pymc4/pull/41#issuecomment-453775302

I think we can achieve most of the important distributions using `tfp.distributions.Mixture` and `tfp.distributions.Bijector` (e.g. the zero-inflated distributions are just mixtures with the zero distribution).

@ColCarroll is there a concrete problem with having a distribution/RV named `

[2019-01-13 09:41] junpenglao commented on #44
LKJ in tfp is the same as LKJCorr.

[2019-01-13 12:06] eigenfoo commented on #44
Edited!

[2019-01-14 18:24] canyon289 opened #50 "[Question] Where is object ArrayStep defined?"
I can't seem to find the definition of `ArrayStep` in pymc4. Was this object experimental or is it supposed to be somewhere?

https://github.com/pymc-devs/pymc4/blob/master/pymc4/_hmc/hmc.py#L3

[2019-01-15 11:39] twiecki commented on #50
I think this is WIP from @aseyboldt. The idea is to copy our samplers, rip out the pymc3/theano stuff and make it work here. But as that part is not done there are still references from pymc3.

[2019-01-15 16:49] canyon289 commented on #50
Thank you

[2019-01-15 16:49] #50 closed

[2019-01-15 20:39] eigenfoo opened #52 "TST: tests for random variables"
I was just thinking about the test suite here - I think it makes sense to dynamically generate tests for each random variable to:

1. Instantiate it
2. `.sample` from it
3. Evaluate its `.log_prob`
4. Convert it `as_tensor`

In other words, we should try to pull a similar trick to how we dynamically wrap the tfp distributions as random variables, for the tests. I think has several advantages, (e.g

[2019-01-16 13:16] eigenfoo commented on #44
Update: #46 merges in some more random variables (those that can be created via tfp's bijectors and transformed variables). There are still quite a few random variables outstanding, though.

[2019-01-16 13:22] ericmjl commented on #44
@eigenfoo your PR gives me a good template to work off for some distributions. I'll take a stab at it this afternoon!

[2019-01-16 13:23] ericmjl commented on #44
@eigenfoo your PR gives me a template to work off! I'll see how fast I can get setup and running for development at work.

[2019-01-18 07:47] springcoil opened #53 "Conda-forge integration with docker build"
As part of our docker build we'll need to make sure to integrate properly with conda-forge.

As ```If we eventually want to distribute on conda-forge then users will likely be using a python binary from conda-forge (https://anaconda.org/conda-forge/python/files?version=3.6.7) rather than defaults. Regardless we can sort this out later, just wanted to chime in.```  as @kyleabeauchamp said in #49

[2019-01-20 03:26] ericmjl opened #57 "Reducing config boilerplate code when specifying models."
Following up on @junpenglao's suggestion, I decided to start converting my Bayesian analysis recipes notebook into PyMC4 code, with the hope that I could maybe explore API design and UX aspects of using PyMC4.

I was looking at the example notebooks provided by @anhhuyalex, and immediately saw in the second cell:

[code]

The immediate thought that went through my mind was, "Wow, that's a lot of u

[2019-01-20 03:32] ericmjl opened #58 "Distribution parameters"
TFP Normal uses NumPy's `loc` and `scale`.

PyMC3 used `mu` and `sigma` (or alternatively `tau` or `sd`).

What are our thoughts on parametrization of distributions? Follow TFP only, or provide the alternative parametrizations as well?

Speaking for myself here, I believe that it's better for UX to keep PyMC3 parametrizations - it means fewer things to change API-wise, for an end-user.

[2019-01-20 03:49] eigenfoo commented on #58
Just to note: it looks like PyMC4's API will be quite different from PyMC3's in the first place. E.g. defining a model looks like it happens through a decorator instead of a context manager. So I don't think we should shy away from API changes if they bring benefits in the backend.

That being said though, I did like how PyMC3 had predictable Greek parameters - and TFP's parameter names are fairly

[2019-01-20 03:54] eigenfoo commented on #57
Definitely feasible! However, since PyMC4's sampling backends are still under development (I don't even  think NUTS is working), it seems a bit premature to think about coding up a smooth UI right now.

[2019-01-20 14:50] eigenfoo commented on #57
Closing now since this isn't really an actionable item for us right now.

[2019-01-20 14:50] #57 closed

[2019-01-21 13:34] fonnesbeck commented on #58
I think we should err on the side of consistency with PyMC 3 over TFP, where we have a choice.

[2019-01-21 14:21] ericmjl commented on #58
Agreed - if that means creating a few extra lines of code in the codebase per probability distribution, such that migration from PyMC3 to PyMC4 is smoother, I think it's worthwhile for our users (of which we are subsets as well).

[2019-01-21 15:19] canyon289 commented on #58
IMO the ideal scenario would be being able to copy over pymc3 models with minimal changes

[2019-01-21 15:48] ericmjl commented on #58
I like the "model as a function" paradigm, btw - it fits the "generative model" kind of way of thinking, IMO. :smile:

[2019-01-31 06:08] junpenglao commented on #44
FYI: LKJ in tfp now has Cholesky parameterization https://github.com/tensorflow/probability/commit/9b007d8e52074fe973cf06290cf5411274636834

[2019-02-03 04:44] anhhuyalex opened #64 "Numpy-like interaction with tensors"
As our random variables are now tensors, manipulations that users of pymc3 are familiar with might no longer be valid, requiring them to use tensorflow's particular syntax for manipulating tensors. I might be wrong, but advanced indexing of numpy arrays seem to no longer work and requires `tf.gather_nd`. Is this deviation from pymc3-like syntax desirable?

[2019-02-03 09:52] junpenglao commented on #64
I dont think there is good workaround for that as we rely on Tensorflow for tensor operation.

[2019-02-03 11:01] twiecki commented on #64
I wasn't aware that advanced indexing is not supported by TF, that's a bummer. It's the only thing were non-numpy syntax would be required, however, or am I missing something else?

[2019-02-03 14:52] ericmjl commented on #64
Hmmm.... @junpenglao & @twiecki I am commenting from the dark on this, but jax devs explicitly want to use the NumPy API - any chance we could experiment with that? What would be needed - a re-implementation of the probability distributions and bijectors are the ones I can see at the moment - but any more?

The numpy API is idiomatic, which is why I like the tensor libraries that strive to use its

[2019-02-03 14:58] canyon289 commented on #64
@csuter Any thoughts on this discussion?

[2019-02-04 05:19] eigenfoo opened #66 "TST: test correctness of tfp-unsupported random variables"
Following up from https://github.com/pymc-devs/pymc4/pull/54#issuecomment-455783915 and https://github.com/pymc-devs/pymc4/pull/54#issuecomment-455866416.

We rely on tfp to correctly implement many random variables. However, the random variables that we implement ourselves (e.g. the zero-inflated random variables) need to be tested for correctness.

[2019-02-04 07:45] #52 closed

[2019-02-04 07:48] twiecki commented on #66
Aren't they just combinations of TFP distributions (e.g. mixture or transformed)? So if we assume these implementations to be properly tested, we only need to test that we combined things correctly, so I wonder if our existing tests aren't sufficient for this.

[2019-02-04 15:06] canyon289 commented on #66
I don't think they're sufficient because we could mess up the combining. Like on this line we could make the mistake of using a minus instead of a plus

https://github.com/pymc-devs/pymc4/blob/master/pymc4/_random_variables.py#L319

Might be good to just write a couple tests to test for numerical values for some points, not just that value is returned

[2019-02-04 19:15] csuter commented on #64
There's some historical context [here](https://github.com/tensorflow/tensorflow/issues/4638), and (substantially) more [here](https://github.com/tensorflow/tensorflow/issues/206). In particular, @shoyer points to [a NEP](http://www.numpy.org/neps/nep-0021-advanced-indexing.html) discussing a proposal to work around shortcomings of numpy advanced indexing. I know nothing about the details of why TF

[2019-02-05 18:49] ericmjl commented on #64
Won't deny that there's definitely a large group of smart folks! But we all know about what happens to a broth when there's many chefs involved :smile:, particularly smart (and likely) opinionated ones!

Jokes aside, @csuter, thanks for providing the context on indexing. I see the issues with numpy indexing now.

Apart from numpy-like indexing, though, I had issues with both TF and PyTorch's use o

[2019-02-05 18:57] ericmjl opened #69 "Extending TFP with alternative parametrizations"
@csuter this question references #58, which is something I care deeply about - having APIs that match what a package's user base might consider idiomatic. (We all probably know about the fiasco going from py2 to py3.)

I can see how the TFP distributions API matched and extended `numpy.random` better than TF did for numpy, which is admirable! I wonder if alternative parametrizations might be allow

[2019-02-05 19:41] ericmjl commented on #69
@csuter this is great to know!

@fonnesbeck @eigenfoo @twiecki, I think this provides much more clarity. If we want to have an API that matches PyMC3's, it's on us to ensure that the appropriate parameterizations are provided.

I think I can get to work starting with the Normal distribution :smile:.

[2019-02-10 12:17] twiecki opened #78 "Auto-transform of RVs on real line"
In PyMC3 we automatically transformed RVs to be on the real line, as required by e.g. ADVI and HMC. TFP has strong support for various bijectors we can use here. There are two options:
1. Implement this as part of the RV, like in PyMC3
2. Implement this as part of the sampler, like in TFP

Initial discussions I think showed consensus around option 1 and I think we can just borrow from the PyMC3 im

[2019-02-10 17:42] junpenglao commented on #78
Agree with option 1 as well.
The transformed kernel returns way too many layers and is pretty difficult to debug
https://twitter.com/junpenglao/status/1086942116587208704?s=20

[2019-02-10 21:36] ericmjl commented on #78
@twiecki can you give an example for a simple distribution? I think I'm lacking some knowledge here as to why this is done in a PPL.

[2019-02-11 10:02] twiecki commented on #78
@ericmjl Something like a half-normal or uniform introduces discontinuities in the posterior. The gradient isn't defined at those points which causes HMC trouble. It also makes the posterior very non-normal which makes ADVI unhappy. However, if instead you don't model a half-normal but log(half-normal) those problems go away. As it's pretty clear which transforms you would want to in each case (po

[2019-02-11 10:20] twiecki opened #79 "Do not require passing of RV name by AST transformation"
PyMC3 as well as Edward and Edward2 require (or strongly encourage) passing of an additional name to each RV:
[code]
Note that the `x` appears twice. We need to do this because we can't easily infer that the variable `x` is called `"x"` at run-time. But we do need to keep track of it and reference it later in the trace, so that's why we need the additional argument.

This is in contrast to DSL PPL

[2019-02-11 10:41] lucianopaz commented on #79
What would happen with an RV that is not assigned to a python variable name or would it be disallowed to leave RV's hanging?

For example:

[code]

[2019-02-11 10:44] twiecki commented on #79
@lucianopaz You would also need to supply a name manually, but I also don't think that's a common use-case.

The good thing is that we can easily identify these cases. Instantiation of an RV *always* requires a name to be present. If the AST parser couldn't fill it in, it'll be blank and raise an exception with an informative message providing an easy fix (supply a name).

[2019-02-11 12:01] ericmjl commented on #78
Oh! I see. I was wondering how come this was an issue. Thanks for the explanation, @twiecki.

Just so that I can check my understanding, it's basically doing a transformation on the distribution to ensure that its transformed support covers -inf to +inf (real numbers), is that correct?

Source file in pymc3 is this: https://github.com/pymc-devs/pymc3/blob/master/pymc3/distributions/transforms.py

[2019-02-11 12:03] twiecki commented on #78
Correct.

[2019-02-11 12:17] ericmjl commented on #78
Allow me some time to study this... if it's implemented on the basis of our current RVs, if #70 is merged, then I think I know how to tackle this...

[2019-02-11 15:25] ferrine commented on #79
What happenes with nested functions? Do they always need explicit names?

[2019-02-11 17:27] twiecki commented on #79
Either we AST those too or you need explicit names for those. For the
initial version it will definitely be the latter. But probably the former
is also not very complicated.

On Mon, Feb 11, 2019, 16:25 Maxim Kochurov <notifications@github.com wrote:

[2019-02-11 18:50] canyon289 commented on #79
I find this statement to be pretty compelling. To your point it is documented so if the Python developer didn't want us using it I doubt they would have put the time in to create this page.
https://docs.python.org/3/library/ast.html

[2019-02-12 18:54] eigenfoo opened #81 "ENH: add DiscreteUniform"
#52 left out the `DiscreteUniform` distribution (it is commented out right now). I misunderstood the errors that TFP was raising, which was ironed out in https://github.com/tensorflow/probability/issues/286. All that remains is to properly implement the DiscreteUniform distribution (most of it is written, we just need to iron out the type casting).

[2019-02-12 19:42] ericmjl commented on #81
I'll get to it in #70.

[2019-02-12 20:19] ferrine commented on #81
Will it be supported by samples at the time of merge?

[2019-02-12 20:29] ericmjl commented on #81
Sorry for the question, @ferrine, but do you mean, "will it support sampling by time of merge"? Or is it something else?

[2019-02-12 22:36] ferrine commented on #81
Oh, a typo. I meant do whether we support discrete variables in pymc4 for now? As I remember, TFD does not support this by default.

I even found some relebant [issue](https://stackoverflow.com/questions/53122714/tensorflow-probability-mcmc-with-bernoulli-distribution) on SO

[2019-02-13 19:08] #81 closed

[2019-02-15 14:12] ericmjl commented on #78
@twiecki, looking at the organization of the pm3 distributions, transforms are primarily used for the continuous bounded distributions (i.e. >0, unit (special case of lower-upper bounded), and lower-upper bounded).

In pm4, do you foresee needing to re-implement those three child classes, but now as a `PositiveRV`, `UnitRV` and `BoundedRV`? (I used `RV` as shorthand for `RandomVariable`.) I think

[2019-02-16 10:11] twiecki commented on #78
Yes, that's exactly what I thought.

[2019-02-16 10:16] junpenglao commented on #78
Small side note: in pymc3 we dont have a bijector because the jacobian is one direction only.
And I also confused by forward and backward all the time 😂

[2019-02-16 15:02] twiecki commented on #78
Also note that we use the term `bijection` in pymc3 completely different. But yes @ericmjl, we would probably need a wrapper for TFP bijectors (or not) and figure out how to apply them to the appropriate RVs like we do in pymc3.

[2019-02-16 15:38] ericmjl commented on #78
Cool beans!

Another option I've been bantering about in my head is to essentially replace-all `tt.` with `tf.` 🤣. What are your thoughts on that? But that would mean harnessing less of the TFP infrastructure - flexibility vs. stack?

[2019-02-18 03:15] ericmjl commented on #78
OK! I have a skeleton for this.

[2019-02-19 07:59] majidaldo commented on #78
I'm not seeing the value-add of just a wrapper around bijector. I thought PyMC4 is committed to TFP. So why not just use TFP TransformedDistribution?

[2019-02-19 10:16] twiecki commented on #78
@majidaldo This issue is not about implementation but just that if a user does `HalfNormal` we do need some logic to transform it. `TransformedDistribution` sounds like it could be the best way forward. If your comment is in reference to #83 I agree, just wrapping bijectors is not adding anything and we should use TFP functionality as much as possible. If you have an idea for how to go about imple

[2019-02-19 10:18] twiecki commented on #78
Sorry, I saw that @ericmjl also commented with that code here which is what your comment is in response to. So yeah, I agree.

[2019-02-19 13:27] ericmjl commented on #78
Going to see if I can get transformed distribution out today. @canyon289 and I are going to do a paircoding thing. I put up the Transform first as it was an easier thing to wrap my head around.

[2019-02-19 14:14] junpenglao commented on #78
I will imagine the implementation to be assigning a default transformation (now a bijector), and when a bounded distribution is called, it output a transformed distribution (a TFP distribution) with a deterministic that is the inverse transformation of the transformed.

Is this makes sense?

[2019-02-19 15:16] ericmjl commented on #78
@junpenglao yep, that makes sense - mostly!

I wanted to check my understanding a bit here.

Firstly, I have just written the following subclass:

[code]

The `log` comes from `transforms.py`:

[code]

Now, `RandomVariable` is also modified:

[code]

This was what was in my mind. I'm not quite sure how one would "call" on a positive-bound RV, though - would you be kind enough to elaborate please?

[2019-02-19 16:22] twiecki commented on #78
@ericmjl In PyMC3 (which I propose we mirror here) we did the following:
1. User creates HalfNormal() RV
2. We see that a transform is required
3. We add log(HalfNormal()) to the model logp
4. We add HalfNormal() as a free floating Determinstic so that it shows up in the trace, but does not influence the model logp

[2019-02-19 18:43] junpenglao commented on #78
@ericmjl That looks good overall, I am thinking that maybe it is better to set the distribution to be the transformed distributed, since we are evaluating the logp from it and sampling from it as well.
[code]

[2019-02-19 20:01] twiecki commented on #78
@junpenglao I think we actually want to do the logp on the transformed but forward sampling on the untransformed, unless I'm thinking about this wrong.

[2019-02-19 20:34] junpenglao commented on #78
Actually, transformed distribution in TFP have both sampling method:
https://github.com/tensorflow/probability/blob/65bfd91cf6e855674da8dd9976c067f79da46e90/tensorflow_probability/python/distributions/transformed_distribution.py#L366

We can follow similar pattern.

[2019-02-19 20:42] canyon289 commented on #78
I came to the same conclusion when talking to @ericmjl  as well

[2019-02-19 21:07] twiecki commented on #78
@junpenglao Yeah but do we want to sample from the transformed dist?

[2019-02-19 23:02] canyon289 commented on #78
@junpenglao Out of curiosity what is the value of samples from the transformed distribution when we are forward sampling and not doing an inference run?

[2019-02-20 05:53] junpenglao commented on #78
@twiecki what i meant is that we can sample from the transformed dist to get untransformed sample
@canyon289 agree that for forward sample it does not make sense to get samples from the transformed space, since it is not the one being evaluated forward anyway.

[2019-02-20 07:34] twiecki commented on #78
@junpenglao OK,  if that's possible then that's probably even better. The method you pointed to didn't seem to me to be doing that.

[2019-02-20 09:10] junpenglao commented on #78
Maybe it is clearer to look at https://github.com/tensorflow/probability/blob/65bfd91cf6e855674da8dd9976c067f79da46e90/tensorflow_probability/python/distributions/transformed_distribution.py#L377

You can see in the `_call_sample_n` method, it first generate samples from the pre-transformed distribution:
https://github.com/tensorflow/probability/blob/65bfd91cf6e855674da8dd9976c067f79da46e90/tensor

[2019-02-20 09:42] adamboche opened #84 "Option for a functional API?"
Hello! I'm excited to see all the cool ideas going on in the new PyMC, and I'm looking forward to using it for real. I've been following the development a little, and had an idea I wanted to run by you. I'm still new to PyMC, so please correct me if I get anything wrong.

One of the distinctive features of PyMC is its usage of context managers for building models, like this:

[code]

This kind of

[2019-02-20 10:20] twiecki commented on #78
Great!
Yeah, LogNormal we wouldn't apply a transform on, but why would we need to get the pre-transformed one? They should both be on the real-line already.

[2019-02-20 10:31] twiecki commented on #84
I like it. One key question is if the model class can be initialized twice as we currently do with the function. We have to call it twice in different contexts currently, once to create RVs and gather the tensors, and then once to create the logp tensor with inputs from step 1.

[2019-02-20 12:58] junpenglao commented on #78
LogNormal is positive only...

[2019-02-20 12:59] twiecki commented on #78
You're right. I think in that case we would still transform (again) it because we can't be sure that the untransformed distribution is on the real line.

[2019-03-02 13:50] twiecki commented on #84
@adamboche Any more thoughts on this?

[2019-03-02 20:30] adamboche commented on #84
@twiecki Sorry for the delay; I'm hoping for a moment to experiment with it this week.

[2019-03-04 01:14] ericmjl opened #87 "When to instantiate the transformed distribution?"
This is an issue that builds off from #83.

Background: We need transformations for continuous distributions, particularly for bounded ones (e.g. uniform, half-normal). It helps with computation during inference.

Current design: We instantiate the appropriate distribution for an RV, and then instantiate a transformed distribution, during the initialization of an RV.

The untransformed distributio

[2019-03-04 01:16] canyon289 commented on #87
Here's three proposed implementation paths

**Always instantiate transformed distributions on RV Instantiation.**
Pros: There's always a transformed distribution.
Cons: Additional overhead for RV instantiation

**Instantiate transformed dist only in InferenceContext**
Pros: Saves on overhead in contexts when people probably don't want logps
Cons: If you do want logp in forward or freeforward conte

[2019-03-04 13:04] #78 closed

[2019-03-04 15:12] canyon289 opened #88 "Implement transforms and logp for "MvNormal", "Pareto", "Triangular" distributions"
Distributions are currently raising exception when logp is called. Transform need to be implemented on all.

https://github.com/pymc-devs/pymc4/blob/master/pymc4/tests/test_random_variables.py#L95

[2019-03-04 15:24] twiecki commented on #88
This should probably be an issue with TFP. Do you they have e.g. a stick-breaking bijector?

[2019-03-04 15:26] canyon289 commented on #88
It doesn't look like it from the docs below but this definitely needs to be an issue with in pymc4 as well because we have code that needs to change, independent of what TFP is or isnt. :)

https://www.tensorflow.org/probability/api_docs/python/tfp/bijectors/Bijector

[2019-03-04 17:09] canyon289 commented on #88
Stick breaking bijector issue in TFP for reference
https://github.com/tensorflow/probability/issues/6

[2019-03-04 18:06] srvasude commented on #88
FWIW, we also do have a SoftmaxCentered bijector, which also constrains/unconstrains the same regions (R^n -> unit simplex in R^{n+1}), but can lead to different optimization landscapes / HMC trajectories than the Stick breaking one.

Are there any other transforms you will need?

[2019-03-05 09:12] twiecki commented on #88
I think we can definitely move ahead with the SoftmaxCentered bijector for now.

Nice to have would also be a
* OrderedTransform: https://github.com/pymc-devs/pymc3/blob/c73f97da71657ab7d9f4bb77a205b5bd49471657/pymc3/distributions/transforms.py#L298
* Cholesky: https://github.com/pymc-devs/pymc3/blob/c73f97da71657ab7d9f4bb77a205b5bd49471657/pymc3/distributions/transforms.py#L436 (I'm not sure we n

[2019-03-05 09:17] srvasude commented on #88
Ordered should be here: https://www.tensorflow.org/probability/api_docs/python/tfp/bijectors/Ordered

For Cholesky, I'm not sure what is exactly going on here, but we do have https://www.tensorflow.org/probability/api_docs/python/tfp/bijectors/TransformDiagonal which should help.

Circular is something we are missing, and we can definitely add that.

[2019-03-05 21:28] brianwa84 commented on #88
I'm not sure about Circular; it's not injective, and not even finitely non-injective like Square/Abs.

How is it used by pymc?

[2019-03-05 21:36] srvasude commented on #88
This should be true for (0, 1) -> S^1 (or more generally for an interval (a, b), there's an injective map to S^1, which scales (a, b) and then applies (cos(.), sin(.))

[2019-03-07 10:12] twiecki opened #89 "Transformed RVs passed into other RVs do not work properly"
[code]

[code]

Returns nan. The problem is actually not in line 2 of the model, but when it is passed on in line 3. So what we need to do is back-transform the value for when it's seen by other RVs. Not quite sure where we need to do that but maybe we can look at how PyMC3 does it.

CC @canyon289 @ericmjl

[2019-03-07 10:20] junpenglao commented on #89
Hmm, I think we should think more carefully here - I would expect that if you are passing a value to `sd` it should be positive only. In PyMC3 we make the distinction in
1. the `point` that we pass to `logp`
2. the transformed RV being something like `sd_log__` that is actually in the graph and the original `sd` being a deterministic.

Which means, when user pass value for logp evaluation, there s

[2019-03-09 23:38] ericmjl commented on #89
@twiecki, are you sure your example is correct? In `sd`, you passed in negative signed ones.

[2019-03-10 02:47] ericmjl commented on #89
I did a chat with @canyon289 this evening to talk through the problem. I created a smaller, more minimal version of the issue.

[code]

First question. In `model_func()`, when `sigma` is passed into `pm.Normal`, is a number being passed to it, or is it something else?

Second question. What is the data path for the `tf.ones` when they are passed into the log probability function?

I suspect we nee

[2019-03-10 13:03] twiecki commented on #89
I think I figured it out. Transformations can easily be done manually as part of the model definition. E.g.
[code]
So what we need to do is transform the RV, just like we would do manually. There is some oddities in how the stuff works with all the contexts but briefly, RVs register themselves in the context (forward-context at first). Then when actually building the graph we retrieve the RV from

[2019-03-10 17:26] twiecki opened #91 "Add shape support"
Currently our RVs do not accept `shape`s.

[2019-03-10 17:27] twiecki commented on #58
We settled this to use greek symbols like in PyMC3.

[2019-03-10 17:27] #58 closed

[2019-03-10 17:28] #69 closed

[2019-03-10 21:03] ericmjl commented on #58
*greek names. Greek unicode symbols would make things super challenging! :smile:

[2019-03-12 20:18] jeti182 commented on #84
I like the idea of separating model and data in this way. Would make applying the model to batches of datasets (e.g. to simulations for power estimations) much more convenient.

[2019-03-13 14:25] fonnesbeck commented on #87
Since transformations are only needed to make model fitting easier, it makes sense to only invoke them in that context (all else being equal).

[2019-03-16 23:12] adamboche commented on #84
I started trying out some basic ideas but it'll require more thought and experimentation -- nothing I have is usable and I wouldn't recommend implementing their current incarnation. In case anyone wants to read along, my code is available.

- [Symbolic RVs](https://github.com/adamboche/python-trymc/blob/master/src/trymc/symbolic_schools.py)
- [Formulas](https://github.com/adamboche/python-trymc/bl

[2019-03-17 22:07] twiecki commented on #84
that looks quite interesting, is this functional or just pseudo code?

[2019-03-18 00:17] sshekh commented on #66
Hello everyone,

I am new to pymc4 and would like to start working on this issue.

Just to make it clear, the issue is that the current random variable test only checks that the values are not `None` in line 90 of [pymc4/tests/test_random_variables.py](https://github.com/pymc-devs/pymc4/blob/e40c1e3cf5051d2eea52212decaaa93eb74a00e8/pymc4/tests/test_random_variables.py#L90) but does not check the c

[2019-03-18 02:41] canyon289 commented on #66
Hey @sshekh
Sorry about not having a permalink.

Right now I would suggest holding off on PyMC4 prs in the RandomVariable module because there are 3 big PRs open (Distribution Transforms, AST parsing, TF2 and TFP 0.7.0)

My suggestion if you want to contribute to PyMC4 is to contribute to PyMC3, specifically in issues that relate to the MCMC samplers. The reason I say that is because after we figu

[2019-03-18 08:36] twiecki commented on #84
Just looked a bit over the code base, looks really nice. Unless I missed it, the key missing piece is construction of a tensor-in-tensor-out logp function.

[2019-03-21 22:51] sshekh commented on #66
Hi @canyon289 , thank you for the prompt reply. I will look for issues in PyMC3 to contribute to. Currently the one related to sampling seems to be pymc-devs/pymc3#2509 . Not sure if it's still open though. I will try to look!

[2019-03-22 14:51] majidaldo opened #96 "pass RV.sample(*args, **kwargs) to tfp.distribution.sample(*args, **kwargs)"
https://github.com/pymc-devs/pymc4/blob/1a30106869f57b545bcb67bd9b10d4aff996c233/pymc4/random_variables/random_variable.py#L129

why would you want to limit yourself to only sample once per call?

[2019-03-22 16:22] ericmjl commented on #96
Not sure of design choice here. @twiecki and @junpenglao?

[2019-03-22 21:47] majidaldo commented on #96
What value is pymc adding anyways to distributions? arithmetic ops?

[2019-03-22 22:28] ericmjl commented on #96
In the long-run, a hopefully more user-friendly API than the TFP API. The pm3 API was superb; at least for myself, it's facilitated learning and solving problems, formulating models, and modelling in general.

[2019-03-23 08:48] majidaldo commented on #96
tfp distributions methods resemble pm3 RVs. Of course, the magic is in how you put the RVs together.

[2019-03-23 11:54] ericmjl commented on #96
Yes, the only difference being that TFP has distribution parameterizations that are more programmer-friendly, and less statistician-friendly.

Agreed! Two days ago, was trying to implement a zero-inflated Beta distribution. Colleague and I sorta got it working, probably could be better; pm3's API was superb for doing this.

[2019-03-23 14:16] junpenglao commented on #96
This is actually the safest choice to avoid incorrect shape broadcasting. Take the model in https://docs.pymc.io/notebooks/hierarchical_partial_pooling.html as an example, if you were to write a sample function for this model in pure TFP, you might put it down as such:
[code]

Note the number of MC sample is defined as `nmc`. However, if you run the function like `custom_forward(4, 18)`, you would

[2019-03-23 14:17] junpenglao commented on #96
TFP distribution does not resemble RV, that's why you need Edward2 inside TFP to actually do that.

[2019-03-23 14:20] junpenglao commented on #96
Close for now, but feel free to keep discussing here!

[2019-03-23 14:20] #96 closed

[2019-03-23 21:53] ericmjl commented on #96
Ah yes, @junpenglao is correct! I was not thinking straight when I responded. :smile:

[2019-03-23 21:54] ericmjl commented on #96
@junpenglao your code style has become Googlified!

[2019-03-24 11:22] junpenglao commented on #96
@ericmjl If you meant the 2 space yep I am guilty as charged...

[2019-03-29 08:06] Adarsh-kumar opened #97 "Forward sampling returning an empty dictionary"
I am trying a forward sampling on mixture model example from pymc4 examples, but getting an empty dict as a result.

The model is defined as -
[code]
I checked the tensorflow graph but it's not empty. The graph node names are-
['zeros',
 'centers/scale',
 'centers/Identity',
 'centers/Identity_1',
 'ones/shape_as_tensor',
 'ones/Const',
 'ones',
 'mul/x',
 'mul',
 'scales/scale',............]

Wha

[2019-04-14 00:02] kyleabeauchamp opened #101 "What's up with HMC?"
The directory structure is now this: `pymc4/pymc4/hmc/_hmc/*.py`.  Is this intended?

[2019-04-14 00:04] kyleabeauchamp commented on #101
See solution in #102

[2019-04-14 00:07] kyleabeauchamp opened #103 "Move notebooks to directory"
As a matter of cleanliness, we should probably dump the notebooks into a separate directory.

[2019-04-14 09:08] #101 closed

[2019-04-14 15:03] #103 closed

[2019-05-03 14:09] ColCarroll commented on #6
Bumping this, since it remains open.

[2019-05-05 22:28] ferrine opened #108 "Mutable update"
https://github.com/pymc-devs/pymc4/blob/a5523877ceea1c695051987d2a7c3ad9e1c78d9b/pymc4/_model.py#L103

Minimal example

[code]

[2019-05-06 21:53] sharanry commented on #6
@ColCarroll I am sorry to say that I do not have the bandwidth to take this up at the moment.

[2019-05-06 21:56] ColCarroll commented on #6
Oop -- not aimed at you! Hope you're doing well and keeping an eye on us, though! :hugs:

[2019-05-06 22:04] brandonwillard commented on #6
Oh, we need that for `symbolic-pymc`, as well!

[2019-05-07 11:26] tblazina commented on #44
I haven't contributed yet but would be interested to have a go with helping with some of these. Looking at the code base it seems a lot of these still are not implemented, so it is still open, correct?

[2019-05-07 11:46] ericmjl commented on #44
@tblazina yes, still open! I recently learned a new pattern at this year's PyCon, which helps with tracking progress. Was wondering what the other devs think of this - when putting in a PR, put in also an issue that we can close, and reference it in the branch name (e.g. `distribution-flat-#93`)? I think there's github magic that we can take advantage of :smile:

[2019-05-07 11:52] tblazina commented on #44
@ericmjl, ok great, thanks for quick response! I'll try to get dev environment all set up and see if I can get plugging away at some of this. I think your idea about tracking progress sounds to me and was along the lines of my next question, is that for a big issue like this with lots of different parts, is the best practice in this project to submit a PR for each distribution that we implement an

[2019-05-07 11:59] ericmjl commented on #44
That is how I would have done it before this year's PyCon. This kind of issue is like an over-arching one, which multiple other smaller issues can reference. Hence, I think it's more appropriate to reference the smaller issues, so that you can take advantage of the auto-closing keywords (e.g. "resolves #391")

[2019-05-07 12:06] tblazina commented on #44
Ok, well for now (until there is a bit of consensus), I proceed as was done before, referencing the issue in the PR. Don't want to step on any toes if I'm just starting to contribute :smile:,  but I do like the idea of opening smaller issues and referencing those in the PR.

[2019-05-28 18:57] springcoil opened #110 "Bug in Autoname = true"
Running the following

[code]

Errors.

[code]

[2019-05-28 19:24] canyon289 opened #112 "Store Dictionary of Vars in Forward and Inference Context rather than list"
Change this to a dictionary to allow for ease of debugging and stronger ability to check that all variables are passed to `log_prob` function

https://github.com/pymc-devs/pymc4/blob/master/pymc4/_template_contexts.py#L47

[2019-05-29 00:20] twiecki commented on #110
The problem is in the arithmetic `+`, `-`. Probably just needs an extra case.

[2019-05-29 14:33] #110 closed

[2019-05-29 14:43] canyon289 opened #120 "Remove dtype argument for discrete bugs after tfp bug is fixed"
Remove dtype argument that is hardcoded in  to bernoulli, zipf, and categorical after issue below is resolved

https://github.com/tensorflow/probability/issues/430

[2019-05-29 14:46] canyon289 commented on #112
Talking to @fonnesbeck may not be needed since RVs store their name as an attribute. Leaving issue open for now though until we have a more in depth discussion

[2019-05-29 15:17] ericmjl opened #122 "auto_name doesn't work if a line contains more than just the RV specifciation"
Model:

[code]

Error message:

[code]

[2019-05-29 15:25] twiecki commented on #122
What is the error message you got?

[2019-05-29 15:40] ericmjl commented on #122
Updated with error message.

[2019-05-29 15:47] twiecki commented on #122
Actually this is OK, we *could* add this as a special case to the AST parsing but it's not meant to support every case and the error message is informative.

[2019-06-08 20:36] ferrine opened #126 "Google Summer of Code timeline"
## PyMC4 developer taskboard
Efforts in implementing pymc4 are not single person, so we need a place to sync our progress on this. This issue should be the place where we communicate, update status of every task on a regular basis.
1. **Saurav** Implement Tensorflow backend and make forward sampling working.
    - [ ] Test Model evaluation is correct against hand crafted scipy implementation
    -

[2019-09-05 12:46] #11 closed

[2019-09-05 12:47] #4 closed

[2019-09-05 12:47] #6 closed

[2019-09-05 12:48] #7 closed

[2019-09-05 12:48] #10 closed

[2019-09-05 12:50] twiecki commented on #53
Closing for now.

[2019-09-05 12:50] #53 closed

[2019-09-05 12:58] #79 closed

[2019-09-05 12:58] twiecki commented on #84
Closing due to inactivity.

[2019-09-05 12:58] #84 closed

[2019-09-09 20:29] ColCarroll opened #142 "Enable pydocstyle"
In both `azure-pipelines.yml` and `scripts/lint.sh`, the `pydocstyle` check is commented out. It would be great for documentation to start to catch up to development.

I started trying, but need more context of how classes and functions work together to do a decent job...

[2019-10-17 00:23] kyleabeauchamp opened #154 "Add logistic regression example"
I thought it might be nice to add a logistic regression example at some point.  I've tried to do this (see below code) but I'm having some issues with constant chains and the following warning:
"tensorflow/core/common_runtime/executor.cc:642] Executor failed to create kernel. Internal: No function library
	 [[{{node MatVec/MatMul/pfor/cond}}]]"

I'm running on TFP nightly (Oct 15), TFP 2.0, and py

[2019-10-17 01:29] brianwa84 commented on #154
At a glance I wonder if autograph is being invoked inside vectorized_map (which is used by pm4 sample). I believe vmap applies tf.function to the resulting computation, which perhaps is implicitly using autograph. Still, I'm a bit surprised to see the cond showing up. Will take a closer look tomorrow.

[2019-10-17 01:40] davmre commented on #154
For what it's worth, this example appears to work inside of a colab:
https://colab.research.google.com/drive/1uvoCZi0wmRFcy5adXlMKm1PWvXENutTL

(well some of the results are infs, but at least it executes).

[2019-10-17 01:58] ColCarroll commented on #154
Having trouble accessing @davmre's helpful link, but can confirm that it runs without error -- here's another try at a link: https://colab.research.google.com/drive/1tEyXP-MY-M3eruAQ9dMTWqihQF8jo0Xq

[2019-10-17 02:02] davmre commented on #154
Sorry about the permissions! (it looks like even on the public colab servers you can't publicly share colabs from an @google.com account). I've copied the colab over to my personal account and edited the link above, so hopefully it'll work now.

[2019-10-17 03:26] kyleabeauchamp commented on #154
I can confirm that the colab executes, but it has the same behavior as I saw: a totally constant trace.  You can see this as follows:

[code]

[2019-10-17 03:42] kyleabeauchamp commented on #154
OK I think things are working now, with an order of magnitude more samples.  NUTS is a bit picky in the early tuning stages I suppose.

[2019-10-17 03:42] #154 closed

[2019-10-18 13:03] lucianopaz opened #157 "[Feature request] add a log_prob_elemwise api"
After some internal discussion, we agreed that it would be good to be able to get a model's element-wise `log_prob` evaluation. This feature would help with:

- Debugging shape problems
- Finding pathological point values in the observed data passed onto random variables

[2019-10-23 23:55] eigenfoo commented on #122
@twiecki do we have a plan for auto-naming? From @ericmjl's snippet it looks like we're going for an `auto_name` flag that uses the AST to parse (nice!). If that's, I can spend some cycles and powow on this issue.

I'm a bit confused at how the `auto_name` flag works, though: I don't actually see it in the codebase anywhere, except in example notebooks. Which `.py` file is the relevant one?

[2019-10-24 01:58] twiecki commented on #122
@eigenfoo That'd be great! Here is the code that walks the AST: https://github.com/pymc-devs/pymc4/blob/rugby_example/pymc4/ast_compiler.py#L117 and here is where it's used: https://github.com/pymc-devs/pymc4/blob/rugby_example/pymc4/_model.py#L30

Note that I think we should do things differently than I had originally implemented. I parsed and *changed* the AST to insert the name kwarg into the c

[2019-10-28 02:55] #122 closed

[2019-10-31 12:34] #5 closed

[2019-11-19 16:43] lucianopaz commented on #112
Closing as this applied to the old api

[2019-11-19 16:43] #112 closed

[2019-11-19 22:26] lucianopaz commented on #87
This issue is resolved in the coroutine model implementation. In particular in transformed_executor.py

[2019-11-19 22:26] #87 closed

[2019-11-19 22:31] lucianopaz commented on #89
This issue also seems to apply to the old context based API. Closing as the new API allows one to pass values easily to `evaluate_model` for autotransformed rvs

[2019-11-19 22:31] #89 closed

[2019-11-19 22:33] lucianopaz commented on #91
What's the status with this now? We have the `plate` parameter that works as a `batch_shape`. `event_shape`s seem to be inferred by the tfp distributions. The only feature missing would be to be able to sample passing a requested `sample_shape`, right?

[2019-11-19 22:36] lucianopaz commented on #97
Closing as this relates to the old context based API. It would be nice to check out this example in the current coroutine API though

[2019-11-19 22:36] #97 closed

[2019-11-19 22:38] lucianopaz commented on #108
Closing as this seems to be something relevant for the old context based API

[2019-11-19 22:38] #108 closed

[2019-11-21 09:40] lucianopaz opened #163 "Add high level sample_prior_predictive and sample_posterior_predictive"
We've got a high level `sample` function skeleton in place, but it would be nice to also include a high level API like pymc3's `sample_prior_predictive` and `sample_posterior_predictive`.

[2019-11-25 12:30] twiecki commented on #91
You're exactly right, we're missing `sample_shape`. It's not clear to me yet if the `plate` notation should stay like it is with being essentially an alias for `batch_shape` because then what do we do with `sample_shape`. So if you have some cycles I think some deep thinking here will go a long way.

[2019-11-25 17:39] lucianopaz commented on #91
I've been digging around this with the forward sampling API. It seems I hadn't noticed that one cannot pass a `batch_shape` argument to a tfp distribution. The batch and event shapes are inferred automatically from the distribution parameters. We use `plate` to stack many identically distributed copies of the underlying tfp distribution. That means that in the end, our distribution's shape will be

[2019-11-26 16:33] #163 closed

[2019-11-27 13:50] twiecki commented on #91
Interesting, so we actually do support all the different ways to handle TFP shapes. The question is if the API does the right thing intuitively.

Also looping in @jvdillon who has thought about these issues deeper than anyone else.

[2019-11-27 14:00] #157 closed

[2019-11-27 14:13] lucianopaz commented on #91
I think that we are only missing the ability to use `sample_shape` without relying on auto batching through `vectorized_map`. To do so in the forward sampling context, we'll need something like TFP's `Root`

[2019-11-27 15:44] lucianopaz commented on #126
@ferrine, what would be an updated status on the tasks here? Some refer to the multi backend things that were discarded later. The executors now work and are tested but I don't know if there are tests against a scipy model. The transformed API seems to be inplace but I don't know if there are transformations that should still be tested. Currently, the forward sampler for posterior predictive sampl

[2019-12-01 12:01] lucianopaz opened #167 "Over reliance on evaluate_model"
Currently, `sample`, `sample_prior_predictive` and `sample_posterior_predictive` all use a first call to some variant of `evaluate_model` just to get some meta information of the model:
* Identify the variables that define the sampling state, along with their shape (in `sample`)
* Identify the distribution shape and the observed variables (in both forward sampling methods)
* To help with auto batc

[2019-12-01 15:17] lucianopaz commented on #167
Pinging @brandonwillard over this.

If we don't go symbolic, the alternatives I can think of are:

1. making a special executor that evaluates the model but instead of calling `sample` on distributions, it returns an array of Nan's with the appropriate tensor shape.
2. Doing something that parses the AST to extract the metadata.

I think that option 1 would be easy to implement, but I think that p

[2019-12-01 19:57] brandonwillard commented on #167
We could almost certainly extract all the necessary information from TFP-generated graphs (which would be much easier with PyMC4/TFP name correspondence, if that's working now).

Otherwise, we could build and use `symbolic-pymc` meta graphs from the start.  If you don't use logic variables with them, they're basically just low-level, generic delayed TF graphs&mdash;that are easily converted to rea

[2019-12-02 07:49] lucianopaz commented on #167
@brandonwillard, how would we bypass eager mode to get the tf graph? Would we need a `function` decorator? That would still have to rely on `evaluate_model` to trace the function and generate the graph, right?

As for the shape issues, tfp has the three semantic shapes: sample, batch and event. Currently, all three methods always leave
`sample_shape=()` and use `tf.vectorized_map` to draw many sam

[2019-12-02 17:30] brandonwillard commented on #167
We can already get the graph information from the results of `evaluate_model`; see the example [here](https://pymc-devs.github.io/symbolic-pymc/tensorflow-radon-example.html#logp-func), where `evaluate_model` is called implicitly via `pm.inference.sampling.build_logp_function` and the model's graph is extracted as a `FuncGraph` from the generated `tf.function` used therein.

In this case, we don't

[2019-12-03 15:49] lucianopaz commented on #167
The thing is that there are some models that will raise a `NotImplementedError` inside of `evaluate_model`, making the evaluation fail. For example, any model with a `Flat` or `HalfFlat` prior will fail to generate samples from the prior. However, it should still be possible to `sample` and `sample_posterior_predictive` from them. The problem is that both of those first try to draw a sample from t

[2019-12-03 17:18] brandonwillard commented on #167
Is there a PyMC4 example I can look at?  I don't see a reason why we couldn't generate a sample-space graph for almost any model/distribution.

`symbolic-pymc` doesn't actually use or need `evaluate_model`; it's just the most expedient way&mdash;that I know of&mdash;to call TFP's `sample` method on distributions defined within a PyMC4 model.

`symbolic-pymc` is designed to support conversion to an

[2019-12-03 21:42] rrkarim opened #169 "Currently there are transformed values captured in trace object"
We don't see untransformed values (if distribution requires transformation) in trace object, since `initialize_state`  turns `state` into `sampling_state`. Maybe there is a need to capture `untransformed` values before `initialize_state` call and then inverting appropriate RVs to get more convenient trace. How one can implement it better?

[2019-12-03 21:43] rrkarim commented on #169
Also why not renaming `initialize_state` to `initialize_sampling_state` to remove redundant code in `build_logp_and_deterministic_functions` with all the state/observed checks?

[2019-12-03 21:50] rrkarim opened #170 "Error is not captured for models with no free RVs"
There is no exception handling for models with only observed variables. Maybe one can add `ndim` method to the state object to make all the checks in `sample` method but there is some ambiguity with shape support #91? How to better fix the issue?

[2019-12-03 22:01] rrkarim opened #171 "Only one sampler is available"
I don't see any issues to support more samplers. Can anyone be assigned to the task or somebody already in progress of completing it?

[2019-12-04 06:13] lucianopaz commented on #167
Oh, it looks like there is no `Flat` distribution in tfp, and we haven't rolled out our own yet. @brandonwillard, I would point you to the [pymc3 issue](https://github.com/pymc-devs/pymc3/issues/3294) that made me think that this would also be a problem for pymc4.

[2019-12-05 16:08] lucianopaz commented on #171
@rrkarim, it would be great to add more samplers! We should think of a way to easily get the other tfp transition kernels

[2019-12-05 16:13] lucianopaz commented on #170
Would you like `inference.sampling.sample` to raise an error under these circumstances? It should be easy to do in `build_model_logp*`. Would you like to try a PR?

[2019-12-05 17:13] rrkarim commented on #170
Yeah, sure, I thought that it might be clear if all the checking is done in `sample` method..

[2019-12-05 17:15] rrkarim commented on #171
Yeah, I can think of this, will post the solution here.

[2019-12-05 18:40] twiecki commented on #169
Those sound like reasonable changes and requests, happy to review PRs!

[2019-12-05 22:58] #170 closed

[2019-12-05 23:37] rrkarim opened #177 "Observed dict passed in `sample` does not really make RVs observed"
Maybe I don't know the real purpose of `observed` param in `sample` method, but executors do not care about these dicts and transform the distribution even if you provide new observed values. Is it intentional logic?

[2019-12-06 00:08] rrkarim commented on #177
The problem I guess that there is not scoping when you pass it through the dict and in `proceed_distribution` (line 542) it doesn't see it as observed.

[2019-12-06 00:19] rrkarim commented on #169
Working on it, guess there are some related issues to fix first.

[2019-12-06 05:22] lucianopaz commented on #177
The executors do care about the `observed` dict. It's tested in the context of forward sampling. [Here's the fixture](https://github.com/pymc-devs/pymc4/blob/master/tests/test_forward_sampling.py#L41-L69) that defines the model and [here is the test](https://github.com/pymc-devs/pymc4/blob/master/tests/test_forward_sampling.py#L154-L174). Maybe you could write a test case for `sample` to make sure

[2019-12-06 05:55] lucianopaz commented on #177
[here's](https://github.com/pymc-devs/pymc4/blob/master/pymc4/flow/executor.py#L625-L628) where we get the observed value from the state and [this is where we build the state from observed](https://github.com/pymc-devs/pymc4/blob/master/pymc4/flow/executor.py#L329-L330)

[2019-12-06 10:15] rrkarim commented on #177
[code]
This snippet should raise an exception.

[2019-12-06 11:41] lucianopaz commented on #177
The problem is that you're not passing the correct name. It should be `model/mu` because of the scoping

[2019-12-06 11:57] rrkarim commented on #177
I see that, thanks. I didn't know you need to pass the model name for the main scope. Sorry.

[2019-12-06 11:57] #177 closed

[2019-12-07 16:54] ColCarroll commented on #169
@rrkarim are you making progress on this? i may try to tackle it today. I want to be able to just

[code]
and have `data` be the arviz object. This will require:

- Update import paths to get `sample` at the top level
- Wrap the return value of `sample` into the `arviz` object
- Add the untransformed values into the trace (probably as Deterministics? this looks at least a little tricky)

I think t

[2019-12-07 17:03] rrkarim commented on #169
Yes, the third one is, indeed, looks little tricky with my knowledge of the current design requirements. So yeah, change what you need to.

[2019-12-07 21:32] lucianopaz commented on #169
I wouldn't add them as `Deterministics`. The executors are used in different contexts for different purposes. The transformed executor is used in `sample` and in `sample_posterior_predictive`, and the latter relies on distributions being in untransformed, transformed or observed values in the sampling state, but never in deterministics. I can tackle this issue later this week but I would do the fo

[2019-12-07 21:56] ColCarroll commented on #169
Thanks, @lucianopaz and @rrkarim!

I think I got to the same place as you are suggesting with 1. I am just finding it hard to figure out where to add that collection logic! :grin:

I am relying on the nice `pymc4.utils.NameParts.is_transformed` to decide if a distribution should be stored.

[2019-12-08 02:44] ColCarroll opened #181 "Remove HMC?"
With NUTS now implemented in TFP, I think we can remove the entire `pymc4/hmc` subdirectory.

Are there objections to this?

[2019-12-08 11:32] junpenglao commented on #181
+1. Plus in light of the refactoring out pymc3 hmc/nuts, we can design wrapper to interface with that later on.

[2019-12-08 22:06] #181 closed

[2019-12-10 23:06] MooersLab opened #184 "eight_schools notebook not working"
Cell 9 fails

tf_trace[1].numpy().shape

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-9-1291ba1b6d25> in <module>
----> 1 tf_trace[1].numpy().shape

AttributeError: 'dict' object has no attribute 'numpy'

[2019-12-16 05:46] ColCarroll opened #186 "Smarter "test point""
Currently, we draw a sample from the prior predictive distribution to initialize and query shapes of the compute graph. It would be nice to have a test point instead or additionally, which would enable improper priors (i.e., `pm.Flat` should not have a random method, but it _could_ have a `test_point` or similar).

[2019-12-16 05:51] ColCarroll opened #187 "Support continuous and discrete variables"
Related to #171, exposing more TFP step methods through the API, and automatically assigning a reasonable sampler to each variable. PyMC3 uses a `competence` attribute to assign this.

[2019-12-16 05:55] ColCarroll opened #188 "Performance issues"
As we grow the example gallery, we should probably also check out performance compared to a direct implementation in TFP, and make sure PyMC4 is not adding too much (any?) overhead, or that we at least understand where the overhead is coming from.

I will followup with a reproducible example, but the [partial pooling](https://docs.pymc.io/notebooks/hierarchical_partial_pooling.html) example from P

[2019-12-16 06:03] ColCarroll opened #189 "Port two more examples"
I have examples ready on
- [https://docs.pymc.io/notebooks/hierarchical_partial_pooling.html](hierarchical partial pooling), and
- [https://docs.pymc.io/notebooks/rugby_analytics.html](rugby analytics)

just wanted to mark that these are incoming.

[2019-12-16 06:47] lucianopaz commented on #186
This is the same issue as #167. A test point would work, but we would need a new executor to do the forward pass

[2019-12-16 22:16] ColCarroll commented on #186
Wow, pretty exactly the same. Thanks!

[2019-12-16 22:16] #186 closed

[2019-12-18 03:02] ericmjl opened #191 "Progress bar for sampler is missing"
I'm raising this issue to just flag that the progress bar for sampling is missing, leaving out a fairly important UI element that was present in PyMC3.

No rush on this, just wanted to flag.

[2019-12-18 03:04] ericmjl opened #192 "Sampled values not transformed back?"
In the PyMC4 Made Simple notebook I wrote, I found that the `sig` parameter was not transformed back from unbounded space to positive support space in the trace. Instead, I had to access `model/__log_sig`. I think we need to implement an auto back-transform so that ArviZ plots the posterior distribution of `model/sig` rather than `model__log_sig`.

[2019-12-18 03:21] ColCarroll commented on #192
Yah, #180 fixes it. I want to kick the tires a little more on it before merging.

[2019-12-18 03:26] ColCarroll commented on #191
I'll link this to https://github.com/tensorflow/probability/issues/435 which will probably get solved the same way, at the same time.

[2019-12-19 07:59] lucianopaz commented on #192
This is a duplicate from #169

[2019-12-19 07:59] #192 closed

[2019-12-19 17:23] lucianopaz opened #194 "Centralize fixtures"
As pymc4 grows, the test suite gets bigger and we add more fixtures to the test scripts. I think that it would be good practice to start to move the fixtures out of the test scripts and into either a central `conf.py` or separate modules that get imported into a `conf.py`. Some fixtures are awfully similar across test files and we may be able to fuse them into a single coherent fixture.

[2019-12-20 12:02] ericmjl opened #196 "Fixes for “basic usage” notebook"
#190 gave us a “basic usage” notebook. In there, @lucianopaz let me know that #180 will let us back-transform values (to non-transformed space) post-sampling. This issue is to serve as a reminder for myself to fix the basic usage notebook to use non-transformed values when visualizing the posterior distributions.

[2019-12-20 12:52] lucianopaz opened #197 "Implement Mixture Distribution"
This is linked to #44. At the moment we don't have a working `Mixture` distribution. I'm opening this as a smaller (kinda-) begginer friendly issue. It should work on top of [`tfd.Mixture`](https://www.tensorflow.org/probability/api_docs/python/tfp/distributions/Mixture) but be able to take a list of pymc4 `Distribution`s (not values yielded from distributions!!) as its components.

[2019-12-20 13:03] lucianopaz opened #198 "Implement AR time series Distributions"
This is linked to #44. At the moment we don't have any time series distribution. The simplest time series distributions are the [`AR` variants](https://en.wikipedia.org/wiki/Autoregressive_model#Graphs_of_AR(p)_processes). I'm opening this as a smaller (kinda-) begginer friendly issue. It should work on top of [`tfp.sts.Autoregressive`](https://www.tensorflow.org/probability/api_docs/python/tfp/st

[2019-12-20 19:14] #184 closed

[2019-12-21 02:14] rrkarim commented on #197
There was an issue on tf side, tensorflow/probability#684, I've opened a PR for it but still waiting for some response on it.

[2019-12-21 11:37] MooersLab commented on #184
Thank  you aloctavodia!

The eight_schools notebook now works with pymc4 installed by

[code]

 on Mac OS 10.15.2 with anaconda Python 3.6.

I no luck with Python3.7 or Python3.8.

[2019-12-21 12:34] MooersLab opened #200 "radon notebook cell 12 broken"
model = hierarchical_model_nc(data, county_idx)
az_trace_nc = sample(model)

...site-packages/tensorflow_probability/python/mcmc/nuts.py:413 bootstrap_results
        len(init_state), len(step_size)))

    ValueError: Expected either one step size or 7 (size of `init_state`), but found 9

[2019-12-28 14:13] #189 closed

[2020-01-01 16:41] ksachdeva opened #207 "JointDistributionCoroutine vs Pymc4 style models"
Hi,

First of all thank you for this project. I am invested in tensorflow stack however it has been extremely difficult to use the tensorflow_probability apis. I am new to whole probability and bayesian inference aspect so may be my struggle with `tfp` can be attributed to that. Pymc4 is a ray of hope for me to still stick with tensorflow stack while using easier to approach library and apis.

I h

[2020-01-01 22:12] ericmjl commented on #207
Hi @ksachdeva, thanks for pinging in!

I was present when the design decisions were being made, and if you were there, you would have been 100% entertained by the flash of genius that @ferrine had when he came up with this idea. I witnessed genius in action :smile:. If my recollection is correct, it was 100% inspired by the JointDistributionCoroutine by the TFP folks, but I think our current desig

[2020-01-02 10:58] twiecki commented on #207
Everything said here so far is accurate. @ksachdeva Let me know if you have more questions.

[2020-01-02 10:58] #207 closed

[2020-01-02 16:01] ksachdeva commented on #207
Thanks @ericmjl @twiecki  for the answers and background.

Let me try to ask specific questions as the previous one could be considered bit open ended -

### Question 1:

@ericmjl said that "... I think our current design is more user friendly".  Would it be possible to express the same with some code snippets as this is what I am seeking the answer to ?.

  a) Is it that pymc4 will not require th

[2020-01-02 16:23] ericmjl commented on #207
@ksachdeva I think I can answer question 2: There should be no difference in speed, as speed is primarily determined by the samplers provided in TFP.

w.r.t. question 1 (a): Shape is in development: there’s the “plate” argument (which I haven’t used yet), which matches statistical modelling convention (plate notation).

as for question 1 (b): I will have to defer to other developers on this.

[2020-01-02 23:08] lucianopaz commented on #207
@ksachdeva, I just wanted to add some things to what's been said already regarding pymc4's features

## Autobatching

This applies to your question 1.a and b. By default, pymc4 uses `tf.vectorized_map` to automatically call the model's `log_prob` or the analogue of `JointDistributionCoroutine`'s `sample` in parallel across independent draws or chains. This means that the users will only have to wo

[2020-01-03 14:22] ksachdeva commented on #207
@ericmjl  @lucianopaz  Many many thanks for these insights. These do answer my questions and are helpful in choosing the direction viz-a-viz framework selection for bayesian statistics/learning/inference.

Regards
Kapil

[2020-01-13 22:40] rrkarim opened #210 "`batch_shape` param for non scalar distributions"
Is there a need for shape param in `pm.Distribution`? There is no support to change `batch_shape` of distribution on `tfp` side and as I've asked recently in [google-groups-tfp](https://groups.google.com/a/tensorflow.org/forum/#!topic/tfprobability/IlfxOrcku0E), it is suboptimal to change it out of construction, I'm not sure why though. Should it be added here or be discussed to be added on `tfp`

[2020-01-14 05:56] junpenglao commented on #210
You can change batch_shape on tfp side by using `tfd.Independent` and `tfd.Sample`, but there are things you cannot do and that's the proposal in https://github.com/pymc-devs/pymc4/pull/193 by @lucianopaz So yes there is plan to add this support to pymc4 and potentially upstream to tfp.

[2020-01-15 17:55] #210 closed

[2020-01-22 15:32] mstump commented on #200
The radon notebook has since further degraded. It wasn't updated after the return type for `sample` was changed to `InterfaceData`. I've started an attempt to clean it up but I'm not entirely sure what the previous return type was, I just know it loosely conformed to a Dict type. Perhaps it was an `xarray`? As part of my attempt would the team be open to me adding Python 3 type annotations? I find

[2020-01-23 14:33] aloctavodia commented on #200
Hi, @mstump we are already using type annotations so any improvement in that are will be very welcome. The previous type was a dict, if you want to recover the old behaviour you could comment this line https://github.com/pymc-devs/pymc4/blob/master/pymc4/inference/sampling.py#L160 and instead use:

`return posterior, sampler_stats`

The code below should fix the arviz integration part, but the err

[2020-01-23 14:48] lucianopaz commented on #200
I can't check it out now, but the error seems to indicate there are some extra parameters that are being included in the initial value for the step. 9 instead of 7. I think this could mean that for some reason, an auto transformed parameter is leaking into the initial state.

[2020-01-23 15:42] junpenglao commented on #200
exact reason of what @lucianopaz said. The chain now contains also the transformed variable (in Real), thus messing up the mapping to step size.

[2020-01-24 10:32] Sayam753 commented on #198
@lucianopaz I want to work on this issue. Are there any docs for pymc4 to get started?

[2020-01-24 10:37] lucianopaz commented on #198
Great @Sayam753! To get started, you should checkout the [basic usage](https://github.com/pymc-devs/pymc4/blob/master/notebooks/basic-usage.ipynb) and [pymc4 design guide](https://github.com/pymc-devs/pymc4/blob/master/notebooks/pymc4_design_guide.ipynb) notebooks. I think that, at least for adding distributions like AR, you shouldn't have go in depth with what goes on with the [core of pymc4](htt

[2020-01-24 20:04] Sayam753 opened #211 "FileNotFoundError during installation"
Environment Specifications -

- Pip version: 20.0.2

- Python version: python3.7.5

- OS details: Darwin My_MacBook 18.5.0 Darwin Kernel Version 18.5.0: Mon Mar 11 20:40:32 PDT 2019; root:xnu-4903.251.3~3/RELEASE_X86_64 x86_64

[code]
Can someone guide me how to fix this?

[2020-01-24 21:26] lucianopaz commented on #211
That's weird, I'll take a look at whether the requirements files are bundled up in pypi. For now, to be able to install pymc4, you'll have to clone the repo from GitHub or just download the source code. Then, in a terminal, you'll have to cd into the folder where you placed pymc4's source code and run `pip install path/to/pymc4`. If you plan to work on contributions to pymc4, then you can run `pip

[2020-01-24 23:45] mstump commented on #200
@junpenglao that's only sort of correct, I went back in time trying different SHAs to see when the last time this notebook worked, it was 28e86b7. In that version of the notebook the keys of the trace are below and it includes a couple transformed variables, but no `eps`:

[code]

The collab notebook is [here](https://colab.research.google.com/drive/1P45nJslINK0FFuokbSo_z3hrphdWTzpl)

In master I

[2020-01-25 08:09] lucianopaz commented on #211
I checked out the pypi tarball and, in fact, the requirements.txt file isn't included there. It's strange because we do include them in the `Manifest.in` and because when I build the `sdist` and `bdist_wheel`'s locally, the requirements.txt is included.
We'll upload a new release candidate to PYPI, that will fix the problem you're seeing and will let you `pip install pymc4` without errors. To inst

[2020-01-25 09:07] Sayam753 commented on #211
@lucianopaz I am able to install pymc4 using these options. Thanks for helping me out!

[2020-01-25 09:39] lucianopaz commented on #211
With the v4.0a2, this is now fixed

[2020-01-25 09:39] #211 closed

[2020-01-26 13:56] Sayam753 commented on #198
Hi @lucianopaz I tried implementing [tfp.sts.Autoregressive](https://www.tensorflow.org/probability/api_docs/python/tfp/sts/Autoregressive) in the same way the other distributions are written. Here is my implementation in [colab](https://colab.research.google.com/drive/13Mox_tFUy6UpxYZAQjtbSyw9frJUKAv8). I am facing errors in sampling part.  There is no method **sample** in [tfp.sts.Autoregressive

[2020-01-26 20:37] brianwa84 commented on #198
The distribution this goes with is LinearGaussianStateSpaceModel.

See eg
https://colab.research.google.com/github/tensorflow/probability/blob/master/tensorflow_probability/examples/jupyter_notebooks/Structural_Time_Series_Modeling_Case_Studies_Atmospheric_CO2_and_Electricity_Demand.ipynb

On Sun, Jan 26, 2020, 8:56 AM Sayam Kumar <notifications@github.com> wrote:

[2020-01-27 15:24] lucianopaz commented on #198
Thanks @brianwa84! Looking at the source code it seemed like we could implicitly get these by calling the [make_state_space_model](https://github.com/tensorflow/probability/blob/r0.9/tensorflow_probability/python/sts/structural_time_series.py#L134-L159) method. Is that correct? The state space model seems to return the core distribution that does the work for `log_prob` and `sample`.

[2020-01-27 15:54] brianwa84 commented on #198
Sounds probably correct. One thing to note is that observation noise is
incorporated on the tfp.sts.Sum component, so if you want that, you may
want a tfp.sts.Sum([tfp.sts.Autoregressive(..)])

Brian Patton | Software Engineer | bjp@google.com

On Mon, Jan 27, 2020 at 10:25 AM Luciano Paz <notifications@github.com>
wrote:

[2020-01-27 16:56] lucianopaz commented on #198
@Sayam753, i checked out the colab you shared and then looked a bit at the source code in sts. As @brianwa84 pointed out, the autoregressive class isn't a `tfd.Distribution`, we should wrap something different. The structured time series subclasses seem to work more like models that compose many distribution components and provide a nice and clean interface to generate samples from the prior and l

[2020-02-04 06:32] lucianopaz opened #214 "UnitContinuousDistribution does not init the default transform"
I was looking a bit into the transforms in pymc4 after a discussion about transforms in pymc3 and I noticed that the `UnitContinuousDistribution` does not implement its default transform (we do this for the `PositiveContinuousDistribution`).

This should be simple to solve. We should just copy what we did for the `PositiveContinuousDistribution` but use the `Sigmoid` bijector instead of the `Log`

[2020-02-04 09:18] #214 closed

[2020-02-04 09:21] lucianopaz opened #216 "Add a test that samples from a Uniform"
Issue #214 was closed by #215. However, we still haven't added a test to the test suite that tries out the new default `_init_transform` that we impose in `UnitContinuosDistribution`.

We basically have to add a test where we `pm.sample` from a model that has a `Uniform` distribution, and check that the autotransformed is part of the trace.

[2020-02-04 18:31] tirthasheshpatel commented on #216
I want to take this up!
Just a little confused, why does the state not have any transformed values even though `Sigmoid` transform is applied to `Uniform` distribution.
I used this code to generate the samples:
[code]
I have two questions:
 - Why are there no transformed values (or are they just hidden)?
 - How to get the autotransformed values from `samples`?

[2020-02-04 18:38] tirthasheshpatel commented on #216
Also, I wrote this test suite. I am getting it right? (clearly, the ``assert`` line has to be changed)
[code]

[2020-02-04 20:11] lucianopaz commented on #216
Great, @tirthasheshpatel! The reason you're not seeing the transformed values in the state is because you need to use a different executor. Instead of `evaluate_model` use `evaluate_model_transformed`.
About the test, yes that is very good. I would also test if the regular untransformed uniform distribution is present.

[2020-02-05 03:59] tirthasheshpatel commented on #216
Thanks for the reply! But I think Uniform doesn't apply transform as it doesn't inherit `UnitContinousDistribution`.
[code]

So, I think this is what we need to do:
[code]

I did that and the tests pass:
[code]

[2020-02-05 05:59] lucianopaz commented on #216
Oh, stupid me! Uniform is bounded but not necessarily between zero and one. We should do this test on the `Beta` distribution and leave the `Uniform` as it was.

[2020-02-05 06:37] tirthasheshpatel commented on #216
Oh, It's fine! I changed the tests. Do we need tests for other UnitContinuousDistributions though?

[2020-02-05 07:25] #216 closed

[2020-02-05 15:49] Sayam753 commented on #198
Hi @lucianopaz I tried implementing first three tasks mentioned above. Here is my approach -
[code]
[code]
This does seem to work but I have a couple of questions -
@brianwa84 What is the difference between num_timesteps and order in [AutoregressiveStateSpaceModel](https://www.tensorflow.org/probability/api_docs/python/tfp/sts/AutoregressiveStateSpaceModel)?

@lucianopaz `make_state_space_model` r

[2020-02-08 09:16] Sayam753 commented on #198
Building on top of this AR class, I tried to make it compatible with pymc4.
[code]
But i got a `ValueError: No converter defined for TensorListFromTensor`. Here is the traceback -
[code]

[2020-02-08 09:24] tirthasheshpatel commented on #198
Did you try:
[code]

[2020-02-10 07:03] lucianopaz commented on #198
@Sayam753, sorry that I couldn't reply sooner. First of all, you should open a pull request with what you've done so far. That way we can move our discussion about the implementation specifics over there and leave this issue only to keep track of progress.

But before that, let's go over the questions you made, starting with the parameters of the distribution.

Any time series model will have some

[2020-02-10 12:54] Sayam753 commented on #198
Thanks @lucianopaz for the detailed explanation. I will open a pull request soon by incorporating all the changes.

[2020-02-12 17:55] worasom opened #221 "import error"
I installed tensorflow 2.1 and pymc4 on window 10 machine. The packages are install in a new venv environment. I can import tensorflow (with some warning), but when trying to import pymc4 I got this error "AttributeError: module 'tensorflow_core.compat.v2.math' has no attribute 'xlog1py'"
I check and found that tensorflow.math.xlog1py throws the same error.  Please suggest.

2020-02-11 09:55:38.47

[2020-02-12 18:10] tirthasheshpatel commented on #221
Just force upgrade your package using: ``pip install --upgrade --force tensorflow``.
If it doesn't work reinstalling TensorFlow may help!

[2020-02-13 12:26] roblem opened #222 "Additional axis added for heirarchical variables"
I noticed this when some custom tensorflow ops inside a model statement stopped working when I added a hierarchical variable.  Please pardon the nonsensical models with no likelihood or observed data, but I believe it is sufficient for illustrating the issue.

- First model, no hierarchical variables and printing out shape and sampling once:
[code]
gives expected shapes
[code]
- Second model has a

[2020-02-13 13:18] lucianopaz commented on #222
Thanks for reporting this. I mentioned this problem when I opened up #193, but didn't open a corresponding issue. Regardless, once we finish #193, the issue you are seeing will be fixed.

The only thing to note is that we will change the `plate` argument to `batch_stack`

[2020-02-13 17:24] worasom commented on #221
I tried upgrade and reinstall, but still does not work.

[2020-02-14 09:09] roblem opened #223 "Additional axis added when using tf.matmult"
Using some tensor flow linear algebra operators require input tensors to be 2d.  This can lead to problems during model evaluation when Random Variables are defined as 1d tensors.  Very likely related to #222 and #193:

Suppose you want to use tensorflow matrix multiple to supply inputs into your likelihood:
[code]
gives this output (some error lines suppressed and error thrown at the line `mu=`):

[2020-02-14 11:04] twiecki commented on #223
I haven't read this carefully yet but thanks for the report. Just merged the shape changes, does that fix anything?

[2020-02-14 11:13] lucianopaz commented on #223
@roblem, this is a tensorflow problem. `tensorflow`, unlike `theano` has no general purpose `dot` operator, that decides whether to delegate its calculations to `matmul` or `matvec`. Tensorflow forces the choice on the users. In your case, you want to multiply a matrix against a vector so you should just do `tf.linalg.matvec` instead of `tf.linalg.matmul`.

On the other hand, when you reshaped `be

[2020-02-14 11:13] #223 closed

[2020-02-14 11:33] roblem commented on #223
Thanks.  Makes sense.

[2020-02-14 11:41] lucianopaz commented on #222
Closed by #193

[2020-02-14 11:41] #222 closed

[2020-02-14 11:42] lucianopaz commented on #91
Closed by #193

[2020-02-14 11:42] #91 closed

[2020-02-14 19:24] lucianopaz commented on #221
@worasom, although it will sound strange, the problem you are seeing is caused because you installed the tensorflow package. I'll explain why.

When we started developing pymc4, we made the package depend on `tensorflow-nightly`, because we wanted to profit from the latest unreleased v2 features. As pymc4 is still quite fluid and not ready for a beta release we haven't switched to depend on the la

[2020-02-19 06:11] #167 closed

[2020-02-20 14:35] junpenglao opened #230 "Refactor/update BetaBinomial Distribution"
Following https://github.com/tensorflow/probability/commit/bf79507598e025b707d39da82cc4fb49dec10d03, TFP now have a more efficient implementation of BetaBinomial

[2020-02-20 14:36] junpenglao commented on #230
@tirthasheshpatel would you like to follow up on this?

[2020-02-20 15:32] tirthasheshpatel commented on #230
@junpenglao  sure!

[2020-02-20 16:30] #230 closed

[2020-02-22 20:51] lucianopaz opened #232 "Code coverage reports of PRs fail to upload"
For some reason, our azure pipelines CI for pull requests fail to upload the coverage reports. I'll try to take a closer look later this week.

[2020-02-22 20:51] lucianopaz commented on #198
Closed by #220

[2020-02-22 20:51] #198 closed

[2020-02-26 15:11] rrkarim opened #233 "Support for `new_state_fn` for support of natural numbers"
Currently, there is no way for discrete distributions (e.g. `Categorical`) to be sampled with RWM. The support is the set of natural numbers (`Categorical` case) and delta added to current state is not a way to generate a new proposal.

I was thinking of adding the class method in `Distribution` that can decorate default `new_state_fn` (preprocessing/postprocessing) for each subclass distribution,

[2020-03-26 15:36] ritesh99rakesh opened #236 "Distributions do not validate argument"
Many distributions do not validate arguments:
[code]

One way to solve would be set `validate_args=True` in TensorFlow distribution calls:
[code]
which would give the following error:
[code]

If the community thinks that this is a valid issue then I can work on it.

[2020-03-26 16:02] ericmjl commented on #236
I think this is a good idea. I’d be curious to know, however, whether the TFP error messages are informative for an end-user to know what they should change... afaik, the TF ecosystem of tools aren’t user-friendly that way. Can you post back what errors are raised if invalid values are passed in?

[2020-03-29 11:50] luke14free opened #240 "Factories for distributions that can be reparametrized"
It would be very nice to implement a pattern where we can have factories for distributions that can be re-parametrized in terms of scale/loc. A good example would be the beta where I'd love to be able to write something like:

`pm.Beta.fromLocScale(name='beta', loc=..., scale=...)`

This could become very handy in a number of cases (I was thinking about regressions, but there are so much more)

[2020-03-29 13:59] tirthasheshpatel commented on #240
This can be done easily and is very handy!

<details>

<summary>Quick fix straight from wikipedia</summary>

[code]

</details>

I wonder if this can be done for multivariate distributions though (or if it even makes sense to do so)? What do you say, @luke14free?

[2020-03-30 10:00] luke14free commented on #240
Yes, static methods for the win here. I am not sure how useful it would be to have this on multivariate distributions (there might be usecases but they don't pop out immediately in my head). My point was having to avoid recomputing simple transformation all times (I managed to introduce a couple of stupid bugs by transcribing the wrong transformations from paper to code in the past).

Maybe it wou

[2020-03-31 21:12] lucianopaz commented on #194
Reopening because #238 only moved the fixtures from test sampling to conftest.py, but the rest of the test scripts have fixtures too. They should all be moved and potentially refactored to reduce duplicate code.

[2020-03-31 21:33] lucianopaz commented on #240
We plan to allow a single parametrization in the each distribution instance's initialization function. Pymc3 supported multiple parametrizations in `__init__` (e.g. the `Normal`) and that made things harder to maintain.
That being said, @luke14free, your idea of having a static factory method do this automatically is a perfectly valid approach. We just need to agree on the design here. I think tha

[2020-04-01 06:42] twiecki commented on #240
Yeah, I like the static method approach. In PyMC3 we just supported multiple kwargs which didn't work terribly either, usually there are not more than 2 parameterizations. Any reason not to do that?

[2020-05-04 06:15] golanor commented on #197
Hi,

I'd like to work on this issue. From the thread on tfp it seems like the issue there is fixed.

[2020-05-04 22:11] rrkarim commented on #197
@golanor the issue hasn't been solved yet, unfortunately. Here is the PR for it #209 and the discussion of the `tf` issue: tensorflow/tensorflow/issues/35099.

[2020-05-11 09:50] TomKealy commented on #197
I would also like to work on this issue!

[2020-05-17 18:18] gaow opened #247 "Sparse logistic regression with spike slab prior example"
I am trying to adapt #154 to using a spike-slab prior `pi * delta + (1 - pi)  * N(mu, sigma)` where pi, mu and sigma are given and a uniform prior will be used for the intercept. I came up with the code below, but I get an error from the `p = tf.linalg.matvec(X, xi * beta)` line:

[code]

If I remove `xi` and use `p = tf.linalg.matvec(X, beta)` the code will work, but that's just logistic regressi

[2020-05-17 21:34] Sayam753 commented on #247
Hi @gaow
Looking at the error message, it seems that there is incompatibility between `dtype` of `X` and `xi * beta` passed to `tf.linalg.matvec` function. What I think, even though specifying `float32` type for probability of events, tfp does not properly broadcast the type for Bernoulli distribution.
[code]
So, PyMC4 needs to account for `dtype` to be passed in for distributions. And that's how

[2020-05-17 23:37] gaow commented on #247
Thanks @Sayam753 yes `xi` is an integer and it indeed makes sense that some automatic variable casting should be performed ... To consolidate information I updated my original post with an explicit type cast followed by another error message.

[2020-05-18 04:33] Sayam753 commented on #247
Hi @gaow
I am not sure, if `tf.cast` can cast a `dtype` to distributions. Rather I will opt to explicitly pass dtype as an argument to Bernoulli. But this argument will not get passed to tfp due to PyMC4 design.
[code]
It maybe a good idea that PyMC4 supports more control over `tfp.distributions`.
Pinging in @lucianopaz , to provide insights how distributions are handled.

[2020-05-18 10:42] alexlyttle opened #248 "Saving the trace"
I love the progress with PyMC4 so far. Are there plans to implement a `save_trace` function in PyMC4?

I have been trying the following:

[code]

and it gives this error:

[code]

The illegal characters seem to be the '/' in the variable names. I have a lot of variables, but could manually replace the characters if need be. However, being able to save them as they are would be better, especially f

[2020-05-18 11:56] alexlyttle commented on #248
**Update**: This seems to work for saving the posterior, using `xarray`'s dataset to netcdf function with the `'scipy'` engine.

[code]

reload with

[code]

I think I could do this for all the groups in trace, just `trace.to_netcdf` and `az.to_netcdf(trace)` don't seem to work for me, even when I replace the '/' in the variable names with '.' manually.

Has anyone got any better ideas for saving/

[2020-05-18 19:52] lucianopaz commented on #247
@gaow, @Sayam753, the error that is being raised comes from tensorflow's type promotion rules. The problem is that an int32 can't be promoted to a float32, because float32's can't represent all the integer numbers that can be represented with an int32. The users must manually and unsafely cast `xi` to a float32 or to an int16. Jax has a [table of the allowed type promotions](https://jax.readthedoc

[2020-05-18 20:08] gaow commented on #247
@lucianopaz Thanks you for your feedback. I believe @Sayam753 was suggesting adding support to cast data type of return from distributions. #236 seems relevant to input parameter check, so even with a better version of #239 I still don't see how explicit type casting might work here.

I suspect the 2nd error message I ran into after explicitly cast types is indeed artifact of type casting like thi

[2020-05-18 21:13] lucianopaz commented on #247
@gaow, I hadn't seen the updated error. You are getting a gradient is None because `xi` is a discrete variable and it cannot be differentiated. Currently, pymc4 only performs NUTS sampling, which only works if all of your unobserved variables are continuous. @rrkarim is working on #229 that will enable pymc4 to sample from your model by performing some nested steps (Gibbs steps for the discrete va

[2020-05-18 21:29] gaow commented on #247
Thank you @lucianopaz for the clarification. I suppose I will wait for #229 to work then try implementing this example? It would be nice if #239 is made generic enough to also support variable type specifications, too. Please advice if there is anything else I can do at this point. Thanks a lot!

[2020-05-18 22:13] rrkarim commented on #247
@gaow @lucianopaz I'm not sure when #239 will be merged to the master since there were some priority changes lately. But I will try to provide some documentation on the compound step usage there soon. Then it could be used as an experimental feature.

[2020-05-19 03:25] gaow commented on #247
@rrkarim thank you! I tried to install your branch and modified my code to the following:

[code]

Unfortunately it failed quickly,

[code]

I'd appreciate your feedback on this to get the sparse regression example work. Please take your time. I hope this is something not hard to fix.

[2020-05-19 13:06] rrkarim commented on #247
@gaow current code doesn't support sampling from bernoulli distribution since there is no defined op for proposal generation. For categorical distribution we have it in `state_functions.py`. It is pretty easy to add.

[2020-05-19 13:14] rrkarim commented on #247
@gaow you can check it on the head commit now. Can you please share if there are some issues.

[2020-05-19 13:31] gaow commented on #247
Thank you @rrkarim for your prompt response! The code works on a smaller data-set if I replace the above data `y` and `X` with something smaller:

[code]

"works" means it completed without error messages. I am currently running that larger data I posted in this ticket -- will analyze its output to see if the estimated parameters are in line with the simulation truth. I will follow up on that.

Du

[2020-05-19 15:41] gaow commented on #247
@rrkarim Here is result in HTML format running the example data above. I explained in the notebook how data is generated and what result I'm expected to see,

[20200519_PyMC4_explore.zip](https://github.com/pymc-devs/pymc4/files/4651520/20200519_PyMC4_explore.zip)

It is faster and uses a lot less memory compared to PyMC3 on my computer. The result makes sense for some of the parameters. But it is

[2020-05-19 16:30] junpenglao commented on #247
We dont yet have a good tuning strategy, so you will likely see poorer quality samples from PyMC4 right now - we are working better tuning strategy, but for now you can try assigning different step size to different RVs (passing a tuple/list of step_size proportion to posterior standard deviation) should improve the performance quite a bit.

[2020-05-19 18:25] rrkarim commented on #247
@gaow I see your prior distribution for `\alpha` is uniform while in kaggle's `pymc3` implementation it is a normal distribution. The point is that I wasn't able to draw strict parallels between two model implementations.

Also, just for the note, for now `compound` performs an unconditional step (compound step, not gibbs), but it should be clear from the sampler name. I don't think the choice of

[2020-05-19 19:06] gaow commented on #247
@rrkarim sorry I forgot to mention I do have implemented uniform `alpha` with pymc3. Let me put together soon a more formal notebook with a smaller example analyzed using both pymc3 and pymc4, and push it somewhere so we can easily compare the differences. We can then fiddle with sampler etc.

I don't think I understand @junpenglao's pointer of how to manually tuning these parameters (how do I kno

[2020-05-20 11:29] ericmjl commented on #248
Hi @alexlyttle! Thanks for pinging in. This is a design interface decision between ArviZ devs and PyMC4 devs - the namespacing in pm4 is probably the reason why the error you saw is happening.

Tagging here @canyon289 @ColCarroll @AlexAndorra and @aloctavodia, who I think are the more active ones on ArviZ amongst us.

[2020-05-20 17:25] gaow commented on #247
@rrkarim @junpenglao here is a notebook i posted on Google drive implementing the same model using both pymc4 and pymc3. It simulates some data and analyze it so you can see pymc4 result is way off for some quantities.

To open the notebook please click on below:

https://drive.google.com/file/d/161KAaWM-ur6PaqfhNUqpoJMePu8-EosA/view?usp=sharing

For those haven't worked with colab -- Google drive

[2020-05-21 02:22] thatch opened #249 "Missing files in sdist"
It appears that the manifest is missing at least one file necessary to build
from the sdist for version 4.0a2. You're in good company, about 5% of other
projects updated in the last year are also missing files.

[code]

[2020-05-22 11:29] hotessy opened #251 "Is there any Data class ?"
Is there any `pm.Data` class available [like in pyMC3](https://docs.pymc.io/api/data.html#module-pymc3.data) ?

[2020-05-22 14:01] rrkarim commented on #247
@gaow thank you for the notebook. I see the results now are far off. I should dive into the issue to solve it.

[2020-05-23 09:35] lucianopaz commented on #251
At the moment there is no `Data` class like what pymc3 has. This is mainly due to the tensorflow 2 design that focuses on functional programming and eager execution instead of symbolic computational graphs, like what theano did. In pymc3, models were objects, and to be able to change the data values of a model that had already been created, we relied on `theano.shared`. Pymc4 will be different bec

[2020-05-23 13:56] hotessy commented on #251
Thanks for the detailed reply and mentioning possible routes I could take, @lucianopaz.

[2020-05-23 13:56] #251 closed

[2020-05-23 17:42] AlexAndorra commented on #248
Hi @alexlyttle, and thanks for the ping @ericmjl !
I don't think this is on our radar, as PyMC4 is not production ready yet. That being said, the fact that you can do it with xarray's `to_netcdf` function is probably a hint that this feature could be quite easy to implement.
Pinging @OriolAbril and @ahartikainen as they know more than me about this.

[2020-05-23 18:46] OriolAbril commented on #248
We have to look carefully into this, IIRC, the `/` are used as group identifiers and on the ArviZ side we rely heavily on groups. That being said, subgroups are allowed, so this should not break anything if done properly.

I am not following pymc4 closely enough, so the following proposal may make no sens. If the variable names are `model_name/var_name` maybe it is possible to drop the starting `m

[2020-05-23 18:55] OriolAbril commented on #232
Hi, it looks like it is related to [this issue](https://community.codecov.io/t/codecov-uploads-from-azure-pipelines-are-failing-with-build-numbers-do-not-match/1100?u=oriolabril) in ArviZ we are using [a workaround](https://community.codecov.io/t/codecov-uploads-from-azure-pipelines-are-failing-with-build-numbers-do-not-match/1100/13?u=oriolabril) until this is solved.

[2020-05-23 19:43] lucianopaz commented on #232
Thanks @OriolAbril! The link was really helpful. We'll have to use the same workaround until codecov solves the problem on their end

[2020-05-26 14:59] alexlyttle commented on #248
Thanks @ericmjl for tagging the relevant people!

Hi @AlexAndorra thanks for the response. I understand this isn't priority atm but thought it worth mentioning. With regards to PyMC4 not being production ready: this may be a separate issue for discussion elsewhere, but we have been using PyMC3 in our research for a while but our particular model takes ~ hours to run. I recently converted it to PyM

[2020-05-26 20:48] lucianopaz commented on #248
@alexlyttle, we're thrilled that your model achieves such a big speedup with pymc4 (and GPU). Could I ask you a few questions? How big is your model, with this I mean how many independent variables does it have to sample from and how many observed data points?

About the naming convention used by pymc4, you are correct. We follow tensorflow's policy of name scopes, which can be nested. Each name s

[2020-05-27 19:43] #249 closed

[2020-05-28 10:09] alexlyttle commented on #248
@lucianopaz thanks for your interest! It's possible the main contribution to the speed-up is that we are using a regression neural network (fully-connected 6 x 128 hidden neurons) trained using TensorFlow, which maps inputs to outputs (some of which are observables). This is converted to Theano in order to sample in our PyMC3 model (which cannot utilise the GPU efficiently). In PyMC4 we are able t

[2020-05-28 21:17] lucianopaz opened #253 "Module level docstrings"
Numpy convention requires that all modules in the pymc4 package have a docstring, potentially a single line at the top of the module.

[2020-05-28 21:18] lucianopaz opened #254 "Write pymc4.utils docstrings"
The pymc4/utils.py module is mostly undocumented. We have to fix this in order to solve #142.

[2020-05-28 21:20] lucianopaz opened #255 "Write pymc4.scopes docstrings"
The pymc4/scopes.py module is mostly undocumented. We have to fix this in order to solve #142.

[2020-05-28 21:21] lucianopaz opened #256 "Write pymc4.inference.sampling docstrings"
The pymc4/inference/sampling.py module is mostly undocumented. We have to fix this in order to solve #142.

[2020-05-28 21:23] lucianopaz opened #257 "Write pymc4.distributions.distribution docstrings"
The pymc4/distributions/distribution.py module is mostly undocumented. We have to fix this in order to solve #142.

[2020-05-28 21:38] lucianopaz opened #258 "The distributions transforms name is misleading"
### Background

Following some discussions that took place on our discourse channel, over at pymc3 and in particular in #246, it came to our attention that the `transform` argument of a distribution is misleading. Some users assume that this will work like `tfd.TransformedDistribution`, where some operation is applied to a base distribution and a resulting transformed distribution emerges. However

[2020-05-28 21:40] lucianopaz opened #259 "Write pymc4.distributions.transform docstrings"
The pymc4/distributions/transforms.py module is mostly undocumented. We have to fix this in order to solve #142. We must be consistent with whatever is done with issue #258.

[2020-05-28 21:42] lucianopaz opened #260 "Make the batchstack docstrings numpy compliant"
The batchstack.py module was copied from TFP's `Sample` distribution, and the docstrings aren't numpy compliant. We must fix this in order to solve #142.

[2020-05-28 21:46] lucianopaz opened #261 "Write the docstrings for the entire flow subpackage"
The pymc4.flow subpackage is the core of pymc4, and it is almost completely undocumented! We have to fix this to help potential contributors and users. Furthermore, we need to fix this in order to close #142. The modules that need docstrings are:

- [ ] flow.__init__.py
- [ ] flow.executor.py
- [ ] flow.transformed_executor.py

[2020-05-28 21:48] lucianopaz opened #262 "Write the gp subpackage docstrings"
The pymc4/gp/* modules are not numpy compliant. To check this, we can run `pydocstyle --convention=numpy pymc4/gp` and see all the errors that come out. We need to solve this in order to close #142

[2020-05-28 21:52] lucianopaz opened #263 "Ensure that all distributions docstrings comply with numpy convention"
At the moment, running `pydocstyle --convention=numpy pymc4/distributions` will raise many errors. In particular in the continuous, discrete and multivariate modules. We need to fix that in order to address #142.

[2020-05-28 21:53] lucianopaz opened #264 "No sphinx api doc testing"
We should test that our docstrings can be rendered into a simple apidoc without warnings using sphinx.

[2020-05-28 22:57] Sayam753 commented on #258
Hi @lucianopaz
I also find naming convention for `Sigmoid` transform to be misleading [here](https://github.com/pymc-devs/pymc4/blob/master/pymc4/distributions/transforms.py#L147).
1. For mapping to positive values, it makes sense to use `Exp` bijector's forward function with name of `inverse` as it is under `Log` transform.
2. But for `Sigmoid`, is it a good idea to run `forward` function with th

[2020-05-29 05:35] lucianopaz commented on #258
@Sayam753, you're right. Due to our confusing usage of the operation, we should have named it `LogOdds` instead! We can open that in another issue.

[2020-05-30 16:50] OriolAbril commented on #248
I am not sure saving the variables in a nested group structure would be cleaner _in practice_. If the implementation and specification of the data structure where a little different, the situation would be different.

When saving, we'd have to give the string after the last `/` as variable name and the rest as the group, it is an operation that has to be performed on each variable. This is not dif

[2020-05-31 17:27] #254 closed

[2020-06-01 14:54] lucianopaz commented on #248
Thanks for the feedback @alexlyttle. About publishing, you have to be aware that at the moment, pymc4 has no initial tuning for the NUTS sampler. This means that the mass matrix (which is the covariance matrix of the momentum proposals done at the begining of each HMC step) will not be automatically tuned to the model you are using. This can lead to poor exploration of the state space, suboptimal

[2020-06-01 14:58] lucianopaz commented on #248
@OriolAbril, ok so we will have to write custom `save_trace` and `load_trace` functions in pymc4 that change the `/` character under the hood to something that doesn't break net_cdf.

[2020-06-02 17:44] kori73 opened #275 "Implement GeneralizedNormal distribution"
GeneralizedNormal distribution is added to tfp recently. I would like to add the corresponding class to PyMC4 as my first contribution. Do you think this would be a useful addition?

There are also some other new distributions in tfp (Bates, Moyal and JohnsonSU). I can also open issues for these distributions if you are interested.

[2020-06-03 04:44] #275 closed

[2020-06-03 10:30] alexlyttle commented on #248
Thanks for the advice @lucianopaz! Actually, I have been noticing divergences and some other issues with the chains. With regards to changing the `step_size` I tried implementing something similar to in the "radon_hierarchical" notebook, but will need to take some time to fully understand this. We'll make sure to check these things (eff. samples, rhat, etc.) before publishing, and will move back t

[2020-06-03 16:14] as135 commented on #197
I'm going to take a look at this and see what I can do!

[2020-06-03 20:32] #260 closed

[2020-06-04 00:03] kori73 opened #277 "Add support for Moyal distribution"
Add support for Moyal distribution (recently added to tfp).

[2020-06-04 21:32] #232 closed

[2020-06-05 11:07] #277 closed

[2020-06-09 16:23] Sayam753 opened #283 "No transformations for Bounded Distributions"
Currently, there are no transformations mentioned in Bounded Discrete/Continuous distributions. PyMC3 handles these using `interval` transform.
So, are the transformations missing or automatically handled by `pm.flow` package?

[2020-06-15 09:36] #236 closed

[2020-06-27 20:23] lucianopaz opened #288 "Class level dimension and parameter information"
I opened this issue just to keep track of [this pymc3 discussion](https://github.com/pymc-devs/pymc3/issues/3984). Whatever design choice we end up taking there, should also be addressed here in pymc4.

[2020-06-27 21:13] brandonwillard commented on #288
If I recall correctly, TFP uses effectively the same shape/dimension design outlined [here](https://gist.github.com/brandonwillard/d4ec9f9f2753d1d9ef1aab71799860f7) and later implemented in the Theano `RandomVariable`, but under a different naming scheme (e.g. "batches" or "event" instead of "replications" and/or the "independent" dimensions I used).  This mean we might already have the informatio

[2020-06-29 19:28] #255 closed

[2020-07-05 16:19] kyleabeauchamp opened #291 "Backport support for coords from pymc3"
This is low priority as compared to getting the modeling locked down, but eventually would be good to replicate the behavior of pymc3 to enforce arviz/xarray coordinates in output traces.

[2020-07-05 16:28] kyleabeauchamp opened #292 "Add log likelihood to arviz trace objects"
I tried to run the `loo` function from arviz and got an exception because that part of the model was not annotated in the trace:

[code]

[2020-07-06 11:29] dirmeier opened #293 "`sample_prior_predictive` and `sample_posterior_predictive` issues with `use_auto_batching=False`"
Hi,

when sampling from the prior predictive with `use_auto_batching=False` setting `sample_shape` doesn't work and always a single draw is returned:

[code]

Similar behaviour is true when sampling from the posterior predictive. Am I missing something here? Colab that shows this is [here](https://colab.research.google.com/drive/1EWR6yCjouhsC-AtwyOURqCrPsHGJH_fP?usp=sharing).

Thanks!

Cheers,
Sim

[2020-07-06 11:55] lucianopaz commented on #293
@dirmeier, the problem is that you didn't specify that `m` is `conditionally_independent=True`. This isn't properly documented because I never had the time to write an explanatory notebook on how to manually vectorize a model. The closest thing there is at the moment is [this example from the forward sampling functions](https://github.com/pymc-devs/pymc4/blob/master/pymc4/forward_sampling.py#L143-

[2020-07-06 11:55] #293 closed

[2020-07-06 11:58] lucianopaz commented on #293
Oh, by the way, of you are interested in fully vectorizing also the `log_prob` calculation, you'll have to also pass `event_stack=observed.shape` to `lik`

[2020-07-06 12:04] dirmeier commented on #293
Ah, right! Thanks.

[2020-07-06 21:17] lucianopaz opened #294 "Write a notebook on manual model vectorization"
After #193, I never got around to writing a proper usage notebook, so I'm opening this issue as a reminder for when I have some time to do it.

This also came up in #293.

[2020-07-06 22:20] fonnesbeck opened #295 "Mass matrix adaptation sampling code in notebooks fails"
It looks like the radon notebook was written when `sample` returned a tuple; it now returns an `InferenceData`, so it breaks. Iteration over the `pm4_trace.posterior.items()` also fails.

Running current master on Debian and Py 3.7.7.

[2020-07-18 15:02] jdehning opened #297 "Error in transformed variables with manual model vectorization"
There seems to be an error when using manual model vectorization for transformed variables when the event shape of the variable is larger than 1. A minimal example would be:

[code]

When the `pm.Halfnormal` is replaced by `pm.Normal` it works without problems.

If I understood the organization of the source code correctly, this error is due to the fact that the correct number of dimensions of the

[2020-07-18 19:09] lucianopaz commented on #297
Thanks for reporting this @jdehning. I can reproduce the exception you are running into and can confirm that its coming from the gradient computation. I still have to investigate more before confirming that the culprits are `inverse_log_det_jacobian` and `forward_log_det_jacobian`, but what you posted was very helpful to pinpoint the cause thus far. I'm not sure when I'll get a chance to fix this.

[2020-07-18 21:02] ferrine commented on #297
Hmm, I can have a look after weekends

[2020-07-19 13:35] kori73 opened #298 "Make pm.sample work with AR distribution"
I am trying to build a simple AR(1) model as follows.

[code]
and getting the following error

[code]

Am I building the model incorrectly or the AR model is not working properly with pm.sample yet? If you think that this is a beginner-friendly issue, I would like to work on it.

[2020-07-20 11:17] alexlyttle opened #299 "Changes in PR #271 don't work with BatchStacker"
### Summary

PR #271 which changed the use of `self.conditions` to `self._distribution` doesn't work with `BatchStacker`. If a distribution which was changed in #271 is initialised with `batch_stack=<some_number>` then the model fails due to `BatchStacker` not having the attributes once held in conditions. Could `BatchStacker` be changed to inherit the attributes of the stacked distribution, or sh

[2020-07-20 13:08] Sayam753 commented on #298
Hi @kori73
I tried fitting the model with ADVI. But ran into similar XLA issues. The traceback seems heavy to investigate. So, how about trying mcmc sampling with `xla=True`?
Is this discourse [question](https://discourse.pymc.io/t/reproducing-pymc3-ar-1-tutorial-in-pymc4/5184) also related to this issue?

[2020-07-20 14:52] kori73 commented on #298
Hi @Sayam753, thanks a lot for the help. I am getting the same error with `xla=True` as well. And yes, the question is also related to this issue. I can delete the post or close the issue to avoid duplicated questions.

[2020-07-20 16:29] Sayam753 commented on #298
Thanks @kori73 for testing this out.
I suspect there's a bug in `AR` distribution. It would be great if you can help resolving this issue. This PR #220 is good to explore. Let's continue the discussion here and the discourse question can be updated after the issue is resolved.

[2020-07-21 19:29] lucianopaz commented on #197
Closed by #284

[2020-07-21 19:29] #197 closed

[2020-07-21 19:40] lucianopaz commented on #299
Oh damn! I'll see if we can somehow salvage #271. I prefer using the tfp distribution parameters for a few reasons:

1. They have already been converted to tensors with an adequate dtype.
2. They have been potentially sanitized by tfp.
3. Some shape wrangling, like broadcasting, could have gone on in the tfp backend.

I know it will be a hard fix, and this also highlights that things that had an `

[2020-07-21 19:45] lucianopaz commented on #299
I just wanted to add that a proper fix to this would also involve #288.

[2020-07-22 20:45] maresb opened #300 "PyMC3 vs PyMC4 for a new project?"
Greetings! I hope this is an appropriate place to ask this... I'm fairly new to Bayesian modelling, and I would like to use it for some real-world projects. On one hand I'm very impressed with the extensive PyMC3 documentation, but on the other hand having TFP as a backend seems so much more powerful.

I'm leaning towards starting with PyMC3 because of the pre-release disclaimer:

I have been watc

[2020-07-22 20:52] fonnesbeck commented on #300
Please post general questions to the [Discourse site](https://discourse.pymc.io/). The issues are for reporting bugs only. Thanks.

[2020-07-22 20:52] #300 closed

[2020-07-22 21:04] maresb commented on #300
Sorry for the noise, and thanks so much for the Discourse reference! Just in case someone else stumbles across this, my question is more-or-less addressed here:
  https://discourse.pymc.io/t/is-pymc4-dead-or-just-resting/5330

[2020-07-24 00:15] jolespin opened #301 "[Question] Is there a timeline or roadmap for PyMC4?"
I remember seeing a roadmap for PyMC3 -> PyMC4 a year or two back but I'm wondering if something similar exists for PyMC4? Apologies if this is out of scope.  If so, please close the issue.

[2020-07-24 09:16] Sayam753 commented on #298
Hi @kori73
After discussing this issue with @ferrine , we figured out that using `tf.vectorized_map` while calculating log_prob results in all these errors. I have opened an issue [#1018](https://github.com/tensorflow/probability/issues/1018) on TFP side as well to gain insights. Let's wait for their response. Thanks.

[2020-07-25 06:26] #299 closed

[2020-07-25 21:07] ericmjl commented on #301
@jolespin PyMC4 has been under active development, though because some of the core pieces have been delegated to TFP, there’s some quality-of-life improvements we want (well, I guess I can only really speak for myself :smile:) from the TFP devs, including a progress bar for the samplers, before I finally switch over and redo my teaching materials in pm4. That, and some of the No-U-Turn-Sampler qua

[2020-07-27 16:53] brianwa84 commented on #301
We have both of those coming "real soon now" (progress bars and linear
preconditioning), i.e. both are WIP currently.

[2020-07-28 06:25] Sayam753 opened #307 "Numerical instabilities with tf.float32 for cholesky decomposition"
Carrying forward the discussions in #289 , it will be great to investigate cholesky decomposition errors further with `tf.float32`. Here's a good starting point -

[code]

[2020-07-28 07:16] tirthasheshpatel commented on #307
Your normal distribution is centered at 0 and so the diagonal entries are susceptible to be near zero which presents challenges for float32 datatype. If you center the data differently, the results may change... I did it and got a success rate of about 70% on random data of shape `5000 x 5000` and 100 experiments...

Here's the code:

[code]

Though it is not the case with tensorflow only, I also

[2020-07-28 07:18] tirthasheshpatel commented on #307
GPy and other libraries just keep on adding noise until cholesky decomposition passes. So, I don't think there is a better solution to this problem. Though it is worth some discussion...

[2020-07-28 07:25] Sayam753 commented on #307
That's a good observation. I think I should add these lines in notes section for Full Rank ADVI. Thanks @tirthasheshpatel for providing more insights.

[2020-07-28 18:38] ferrine commented on #297
Looks like I failed to fix the error quickly, I've tried to figure out if it is the wrong usage of `reinterpreted_batch_ndims=2` and similar arguments but it was not successful.

[2020-07-28 19:20] jdehning commented on #297
I think I have some ideas on how to fix it. Probably next week I will have some time to look deeper into it and open a PR, if you are okay with it...

[2020-07-29 08:39] ferrine commented on #126
Updated

[2020-07-29 08:39] ferrine commented on #126
I think we can add some more input to the board

[2020-07-31 02:35] #233 closed

[2020-07-31 02:37] rrkarim commented on #247
@gaow can you test the model on the newest PR on compound step support? #306
You don't need to define sampler for each variable, you can just write:
[code]
Here are my results on the new code: [`results_notebook`](https://github.com/rrkarim/pymc4/blob/compound/compound_step_pre_final%232356.ipynb).

[2020-07-31 04:17] gaow commented on #247
@rrkarim thanks a lot! Result in your notebook seems promising. However I am having issues running the code ... if I use `tf-nightly` via `pip install tf-nightly -U` I get an error when importing `pymc4`:

[code]

If I use `tensorflow` via `pip install tensorflow tensorflow-probability` I get version 2.3.0. Then `import pymc4 as pm4` will work, but when I run the `pm.sample()` function as in your

[2020-07-31 19:30] rrkarim commented on #247
Yeap, I'm really sorry, my mistake. I've fixed it.

[2020-07-31 20:16] gaow commented on #247
Thanks @rrkarim but still,

[code]

However

[code]

works.

[code]

is the version I used for `tensorflow_probability`. Hopefully it is not a hard fix. Thanks!

[2020-07-31 20:19] rrkarim commented on #247
I'm note sure about this issue, can you test `from tensorflow_probability import distributions as tfd`. It should be imported in `0.12.0-dev20200731`

[2020-07-31 21:00] gaow commented on #247
@rrkarim interestingly, version `0.12.0-dev20200730` does not work, but version `0.12.0-dev20200731` does.

However after upgrading both `tf-nightly` and `tfp-nightly` to todays build, I am now back to getting this same error  as I run it on the release version of tensorflow.

[code]

This is running your notebook [here](https://github.com/rrkarim/pymc4/blob/compound/compound_step_pre_final%232356

[2020-07-31 21:11] rrkarim commented on #247
Have you updated the code in PR? The notebook is on:
[code]

[2020-07-31 21:40] gaow commented on #247
@rrkarim I am update with the PR and I have the same version of tf and tfp as you have (built today). Thanks for checking the `xla` bug! I confirm that `xla=False` works.

[2020-08-09 08:56] disadone commented on #295
Also

[code]

[2020-08-09 14:09] disadone commented on #200
I follow the code above,

the line
[code]
Exception has occurred: AttributeError
'numpy.dtype' object has no attribute 'is_complex'

using vscode remote container

[2020-08-20 10:10] cadama opened #312 "ValueError: Cannot create a tensor proto whose content is larger than 2GB."
Hello,

I am hitting tensorflow limits when feeding a larger dataset to the model.

my model looks like:

[code]
and I believe in tensorflow is including the whole dataset into the graph under the hood. Is that the correct way of doing linear regression? How can I avoid hitting such limit? Other examples are doing smth similar, e.g.:

https://github.com/pymc-devs/pymc4/blob/master/notebooks/radon_

[2020-08-25 08:05] cadama commented on #312
There exist a protobuf limit reported here

[2020-08-27 11:41] rrkarim commented on #247
@gaow [Here](https://drive.google.com/file/d/174Hf5p-sBx2HxuBe03lVW49LcyvuHnRd/view?usp=sharing) are the results for the toy dataset you have provided. Are there any other issue?

[2020-08-27 17:50] gaow commented on #247
Thanks @rrkarim [this notebook](https://drive.google.com/file/d/174Hf5p-sBx2HxuBe03lVW49LcyvuHnRd/view) works as expected after I upgrade to your current `master`. Only complaint for now is that compared to the same implementation in pymc3, the current pymc4 code is much slower, as you can test and find out in the notebook above.

[2020-08-29 02:23] ChrisRackauckas opened #316 "Connecting pymc4 and diffeqpy for differential equations"
I'd be interesting in getting pymc4 connected with [DifferentialEquations.jl](https://diffeq.sciml.ai/stable/) through [diffeqpy](https://github.com/SciML/diffeqpy) in a way to avoid in a high performance way ([like we did with R](https://www.stochasticlifestyle.com/gpu-accelerated-ode-solving-in-r-with-julia-the-language-of-libraries/)). What is the right way to get started for defining operation

[2020-08-29 11:48] junpenglao commented on #316
I would start with wrapping it as a [tensorflow function](https://www.tensorflow.org/api_docs/python/tf/py_function) with [custom gradient](https://www.tensorflow.org/api_docs/python/tf/custom_gradient?version=nightly).
Happy to take a look if you have something working, currently we rely on the [ode module provided by Tensorflow Probability](https://github.com/tensorflow/probability/tree/master/t

[2020-08-30 09:07] rrkarim commented on #247
@gaow yeap, I will analyze it more, I'm not sure if it easily solvable though.

[2020-08-30 11:06] tirthasheshpatel opened #317 "Sampling fails when `num_chains=1`"
While debugging #309, I found that sampling fails when `num_chains=1` on the latest tensorflow nightly and tensorflow probability nightly. Here's a minimal reproducible example:

[code]

Error:

[code]

### Versions

- Tensorflow Nightly : 2.4.0-dev20200828
- Tensorflow probability Nightly : 0.12.0-dev20200830
- Numpy : 1.19.0

[2020-08-30 11:55] junpenglao commented on #317
@rrkarim could you take a look?

[2020-08-30 12:07] rrkarim commented on #317
Everything seems to be fine on: `tf==2.4.0-dev20200731`, `tfp==0.12.0-dev20200830`. Checking the newest tf nightly.

[2020-08-30 12:49] rrkarim commented on #317
So the issue is cause by this [commit](https://github.com/tensorflow/tensorflow/commit/c2e594440e1d9839546b93a93d8646b06891d7de#).

[2020-08-30 20:31] junpenglao commented on #317
it is something to do with the vectorized_map and tf.function - I am however struggle to find a minimal reproducible example.

[2020-08-30 20:46] junpenglao commented on #317
filed https://github.com/tensorflow/probability/issues/1071

[2020-09-03 23:15] muunetheus opened #319 "PYMC4.Bound not found"
Error received when using pymc4.bound():

AttributeError: module 'pymc4' has no attribute 'bound'

Is bound available for PYMC4?

[2020-09-04 07:20] junpenglao commented on #319
Not yet - contribution welcome :-)

[2020-09-24 07:11] muunetheus commented on #319
Do you the the equivalent function in TFP? I'm relatively new to TFP, so if you point me in the right direction I can try to contribute :)

[2020-09-24 08:29] junpenglao commented on #319
Bound in PyMC3 is not proper - we just cut off the density outside of the bound without normalizing the PDF. To replicate this behavior, we can assign a bijector a Bound super class, something like:
[code]

[2020-10-09 13:30] Sayam753 commented on #298
Hi @kori73
The issue on tensorflow side [#41789](https://github.com/tensorflow/tensorflow/issues/41789) is now resolved. Can you check if sampling works with latest tensorflow builds? Thanks

[2020-10-25 10:22] kori73 commented on #298
It is working now, thanks a lot @Sayam753.

[2020-10-25 10:22] #298 closed

[2020-10-26 20:48] #292 closed

[2020-10-28 19:03] kori73 opened #322 "Add support for LocalLinearTrend and Seasonal"
I would like to work on adding a few time-series distributions starting with LocalLinearTrend and Seasonal.

Looking at the discussions for the [AR pull request](https://github.com/pymc-devs/pymc4/pull/220), I see that you are not currently happy with the way the `initial_state_prior` for tfp is obtained. Currently, we are passing a MultivariateNormalDiag with `initial_state` mean and std close to

[2020-10-28 19:10] fonnesbeck commented on #322
@kori73 Thanks for your interest. The development team [has made the decision not to continue with the TFP-based version of PyMC](https://pymc-devs.medium.com/the-future-of-pymc3-or-theano-is-dead-long-live-theano-d8005f8a0e9b). We will instead be updating the Theano backend to make it compile with JAX and other engines. If you are interested in contributing to PyMC, I'd suggest directing your att

[2020-10-28 19:10] #322 closed

[2021-04-21 19:56] Aut0R3V commented on #294
@lucianopaz can I work on this

[2022-04-07 02:17] mgendia opened #326 "calculation with tensor run errors"
I was building models on big datasets on pymc3 which were going fine but the run time was either too long or the kernel would simply, so I turned to pymc4 to utilize the GPU power. But there seems to be an error when building a model that requires data transformation using tensors, that otherwise were working fine on pymc3. I am sharing a dummy code from slava kisilevich  example on github https:/

[2022-04-07 02:23] mgendia commented on #326
here are my relevant libraries
pymc:  4.0.0b6
theano:  1.1.2
aesara:  2.5.3
pandas:  1.3.0
numpy:  1.21.2
python: 3.8.0

and I am using CUDA 10.2

[2022-04-07 04:01] fonnesbeck commented on #326
Hello. Please post this on the PyMC issue tracker (https://github.com/pymc-devs/pymc/issues/) rather than here. This is an old repository for an experimental version of PyMC based on TensorFlow, not the one you are using.

[2022-04-07 04:01] #326 closed, assigned to nobody